<p *ngIf="settings.chartTitle != null" class="chart-title">
  {{ settings.chartTitle }}
</p>
<ngx-charts-gauge
  *ngIf="data != null"
  [animations]="settings.animations"
  [legendPosition]="'below'"
  [view]="view"
  [scheme]="settings.colorScheme || colorScheme"
  [results]="data.data.data"
  [min]="data.data.min"
  [max]="data.data.max"
  [angleSpan]="240"
  [startAngle]="-120"
  [units]="data.data.unit.text"
  [bigSegments]="10"
  [smallSegments]="5"
  [showAxis]="settings.gaugeShowAxis"
  (select)="onSelect($event)"
>
</ngx-charts-gauge>
<ngx-charts-legend
  [style.display]="settings.showLegend ? 'inline-block' : 'none'"
  #legend
  [height]="50"
  class="chart-legend"
  [class.left]="settings.legendPosition === 'left'"
  [class.center]="settings.legendPosition === 'center'"
  [class.right]="settings.legendPosition === 'right'"
  [data]="legendData"
  [colors]="legendColors"
  (labelActivate)="legendActivate($event)"
  (labelDeactivate)="legendDeactivate($event)"
>
</ngx-charts-legend>
