<div class="page-container" id="unavailable-widget">
  <div class="wrapper">
    <div class="text">
      <img src="assets/images/unavailable.svg" alt="unavailable" width="200" />
      <div>
        <p class="bold-p">
          Hledaná vizualizace není již dostupná.
        </p>
        <p>Další zajímavý obsah naleznete níže v kategorii {{ category }}.</p>
      </div>
    </div>
  </div>
</div>
