@import "_colors";

:host {
  display: block;
  margin-bottom: 10px;
}

.wrapper {
  border-radius: 16px;
  background: $error;
}

.page-container {
  padding-top: 0;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px;
  text-align: center;
  p {
    text-align: left;
    font-size: 18px;
    color: $secondary;
  }
  .bold-p {
    font-size: 22px;
    font-weight: bold;
  }
  img {
    margin-right: 70px;
  }
}
