@import "_colors";
:host {
  display: block;
  width: 100%;
  height: 100%;
  ngx-charts-bar-vertical-2d {
    display: block;
  }
}
.chart-detail{
  text-align: right;
}
.chart-detail > a {
  cursor: pointer;
  font-size: 11px;
  color: $secondary;
}
