<p *ngIf="settings.chartTitle != null" class="chart-title">
  {{ settings.chartTitle }}
</p>
<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 0 1238.77 940.71"
>
  <defs>
    <style>
      .cls-1 {
        fill: url(#Nepojmenovaný_přechod_10);
      }

      .cls-2 {
        fill: url(#Nepojmenovaný_přechod_10-2);
      }

      .cls-3 {
        fill: url(#Nepojmenovaný_přechod_10-3);
      }

      .cls-4 {
        fill: url(#Nepojmenovaný_přechod_10-4);
      }

      .cls-5 {
        fill: url(#Nepojmenovaný_přechod_10-5);
      }

      .cls-6 {
        fill: url(#Nepojmenovaný_přechod_10-6);
      }

      .cls-7 {
        fill: url(#Nepojmenovaný_přechod_10-7);
      }

      .cls-8 {
        fill: url(#Nepojmenovaný_přechod_10-8);
      }

      .cls-9 {
        fill: url(#Nepojmenovaný_přechod_10-9);
      }

      .cls-10 {
        fill: url(#Nepojmenovaný_přechod_10-10);
      }

      .cls-11 {
        fill: url(#Nepojmenovaný_přechod_10-11);
      }

      .cls-12 {
        fill: url(#Nepojmenovaný_přechod_10-12);
      }

      .cls-13 {
        fill: url(#Nepojmenovaný_přechod_10-13);
      }

      .cls-14 {
        fill: url(#Nepojmenovaný_přechod_10-14);
      }

      .cls-15 {
        fill: url(#Nepojmenovaný_přechod_10-15);
      }

      .cls-16 {
        fill: url(#Nepojmenovaný_přechod_10-16);
      }

      .cls-17 {
        fill: url(#Nepojmenovaný_přechod_10-17);
      }

      .cls-18 {
        fill: url(#Nepojmenovaný_přechod_10-18);
      }

      .cls-19 {
        fill: url(#Nepojmenovaný_přechod_10-19);
      }

      .cls-20 {
        fill: url(#Nepojmenovaný_přechod_10-20);
      }

      .cls-21 {
        fill: url(#Nepojmenovaný_přechod_10-21);
      }

      .cls-22 {
        fill: url(#Nepojmenovaný_přechod_10-22);
      }
    </style>
    <linearGradient
      id="Nepojmenovaný_přechod_10"
      y1="256.74"
      x2="477.13"
      y2="256.74"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0" stop-color="#9d1f66" />
      <stop offset="1" stop-color="#6c0563" />
    </linearGradient>
    <linearGradient
      id="Nepojmenovaný_přechod_10-2"
      x1="414.91"
      y1="193.84"
      x2="718.41"
      y2="193.84"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-3"
      x1="897.18"
      y1="618.71"
      x2="1151.39"
      y2="618.71"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-4"
      x1="899.39"
      y1="389.12"
      x2="1238.77"
      y2="389.12"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-5"
      x1="427.78"
      y1="727.81"
      x2="680"
      y2="727.81"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-6"
      x1="250.12"
      y1="769.38"
      x2="456.79"
      y2="769.38"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-7"
      x1="249.67"
      y1="533.43"
      x2="482.93"
      y2="533.43"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-8"
      x1="110.05"
      y1="596.11"
      x2="344.96"
      y2="596.11"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-9"
      x1="631.77"
      y1="628.52"
      x2="918.23"
      y2="628.52"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-10"
      x1="439.44"
      y1="579.77"
      x2="712.14"
      y2="579.77"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-11"
      x1="745.76"
      y1="170.31"
      x2="974.93"
      y2="170.31"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-12"
      x1="741.67"
      y1="475.87"
      x2="992.62"
      y2="475.87"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-13"
      x1="559.78"
      y1="438.88"
      x2="797.84"
      y2="438.88"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-14"
      x1="777.4"
      y1="329.61"
      x2="940.87"
      y2="329.61"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-15"
      x1="695.59"
      y1="107.41"
      x2="864.27"
      y2="107.41"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-16"
      x1="642.4"
      y1="274.78"
      x2="778.04"
      y2="274.78"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-17"
      x1="58.26"
      y1="447.67"
      x2="268.83"
      y2="447.67"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-18"
      x1="434.2"
      y1="275.58"
      x2="580.46"
      y2="275.58"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-19"
      x1="552.35"
      y1="361.79"
      x2="701.69"
      y2="361.79"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-20"
      x1="415.6"
      y1="365.61"
      x2="532.38"
      y2="365.61"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-21"
      x1="482.16"
      y1="408.25"
      x2="569.62"
      y2="408.25"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
    <linearGradient
      id="Nepojmenovaný_přechod_10-22"
      x1="902.78"
      y1="274.12"
      x2="1098.48"
      y2="274.12"
      xlink:href="#Nepojmenovaný_přechod_10"
    />
  </defs>
  <g id="Vrstva_2" data-name="Vrstva 2">
    <g id="Vrstva_1-2" data-name="Vrstva 1">
      <path
        [ngbTooltip]="getTooltipTitle('prague-6')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-6')"
        id="prague-6"
        class="cls-1"
        d="M477.13,305.37c-3.05,1.79-5.91,4.19-9.2,5.25-7.09,2.28-9.59,6.39-7.29,13.47.44,1.34.84,2.68,1.46,4.67-7.05.94-13.27,4-20.55,3.42-4.71-.38-9.58,1.09-14.38,1.81a17.76,17.76,0,0,0-5.5,1.28,7.2,7.2,0,0,0-3.42,3.6c-1.24,3.8-1.94,7.79-2.82,11.71a4.77,4.77,0,0,0-.16,2.11c1,3.83.08,6.14-4,7.9-1.9.83-3.1,4.33-3.55,6.81-.18.94,2.47,2.72,4.1,3.59,2,1.07,3.39,2,3.5,4.67.19,4.18,3.57,3.61,6.2,3.51,1.22,1.57,2.06,3.57,3.52,4.27s3.57.16,5.59.16c-1.52,3.54-4.18,4.62-7.1,3.93-7.72-1.8-15.45-3.57-23.26-4.88-2.1-.35-4.7.59-6.68,1.66-1.74.93-2.79,1-4.4-.08-4.23-3-9-1.47-13.47-1-11.64,1.24-23.27,2.67-34.9,4.06a15.5,15.5,0,0,0-3.42.82q-6.75,2.47-13.46,5.06c-1.87.72-3.7,1.53-5.54,2.33-.54.23-1,.77-1.57.79q-7.71.26-15.42.34c-1.29,0-2.83-.74-3.84-.27-5.9,2.73-12.2,1.32-18.27,2.12-2.19.29-3.85.2-5.15-1.94-2.78-4.57-7.15-6.48-12.34-6.39-8.76.16-17.52.68-26.27.67a56.14,56.14,0,0,1-11.19-1.55c-7.42-1.55-14.69-3.32-22.48-2.19-3.92.56-8.11-.84-12.19-1.23-3.4-.33-6.92-1.08-10.22-.57-6.2.95-13,.75-17.72,6.06-1.33,1.49-2.25,3.36-3.64,4.77a5.12,5.12,0,0,1-3.41,1.65,3.41,3.41,0,0,1-2.28-2.44c-.2-3.82-2.45-4-5.4-3.7-3.75.44-7.53.84-11.3,1-4.27.19-7.08-2.28-7.81-6.63-.5-2.92-.79-5.87-1.34-8.78-.73-3.83-2.09-4.69-5.69-3.37a7.71,7.71,0,0,1-8.55-1.69c-2.79-2.65-6-3.43-9.77-3.31-7.82.26-10.14-2.14-10.17-10.07,0-7.24,0-14.48-.1-21.71-.08-4.71-.95-5.5-5.65-5.89-9.85-.81-14.26-7.59-11.19-17.19,1.2-3.72-2.33-8.16-6.21-7.67-6,.76-11.95,1.53-17.88,2.58A13.54,13.54,0,0,0,46,311.36c-4.51,3.26-8.86,3.8-13.53.81-2.74-1.76-5.08-1.91-7.91-.31a65.5,65.5,0,0,1-8.71,4c-4.62,1.79-9.07,0-11.32-4.46-1.08-2.11-2-4.33-3.15-6.37-4.4-7.61,2.23-17.59,9.64-18.46,2.53-.29,4.83-2.49,7.25-3.79,2.59-1.4,5.12-2.95,7.81-4.12,5.45-2.36,5.66-2.54,5.69-8.32a14.88,14.88,0,0,1,10.78-13.82,4.11,4.11,0,0,1,2.08-.21c4.68,1.57,9.29,3.32,14,4.84A13,13,0,0,0,64,262c2.44-.3,4.78-1.35,7.21-1.87,5.22-1.11,8.67-4,11.11-8.86,3.17-6.33,5.88-6.76,12.47-4.06a9,9,0,0,0,6.31.06q19-8.37,37.84-17.3c4.79-2.27,8.82-2,12.62,1.8,2.43,2.43,5.1,4.62,7.54,7s4.82,2.16,7.3.25c4-3.1,8.11-6.09,11.93-9.41a5.52,5.52,0,0,0,1.6-4.21,49.56,49.56,0,0,0-2.27-8.91c-1.46-4.47-.26-8,3.8-10.29,1.13-.65,2.29-1.25,3.47-1.82,3.7-1.79,6.32-3.82,7.13-8.64,1.19-7.07,7.67-10.88,15-10.34a13.42,13.42,0,0,0,2.79-.36c4.15-.59,7.6.45,9.55,4.45,1.46,3,3.82,3.69,6.8,3.13s5.79-1.26,8.71-1.79c6.82-1.23,10.42,2,10.23,8.89-.15,5.54-.06,11.1,0,16.65a13.48,13.48,0,0,0,.67,3.47,99.36,99.36,0,0,0,3.43,10.78,26.79,26.79,0,0,0,5,8c1,1.06,4,1.35,5.44.66,4.74-2.26,9.48-2.15,14.53-1.83,5.76.35,11.59-.49,17.38-.43,7.58.09,15.15.54,22.72.88,7.78.35,15.55.85,23.33,1.07,3.26.09,4.67-1.92,3.24-4.92a117.72,117.72,0,0,0-7.74-13.94c-2.39-3.65-3.32-7.3-.93-10.94,4.25-6.48,4.16-13.14,2.08-20.21a25.6,25.6,0,0,1-.53-6.34c-.11-3.63-.66-6.78-3.84-9.42-3.59-3-3.53-11.2-1.07-15.18,1.42-2.29,1.86-5.16,2.86-7.73s1.82-5.3,3.31-7.57c3.58-5.48,7.41-10.81,11.33-16a37.65,37.65,0,0,1,5.94-6.35,23.24,23.24,0,0,1,6.92-4.26c2.27-.8,5.17-1.25,7.35-.52,2.79.94,5.25,1.27,7.87.13,3.31-1.43,6.24-.72,9.51.63a50.32,50.32,0,0,0,13.28,3.66c3.5.4,7.17-1,10.79-1.25,7.58-.59,13,3.55,17.79,8.71.54.58.46,2.09.17,3a40.24,40.24,0,0,1-2.6,6.55c-2.06,3.93-3.82,8.19-6.63,11.52-6,7.12-9.6,14.74-7.18,24.14,1.79,6.95,6.5,12,11.93,16.4,4.4,3.54,9.28,6.41,11.46,12.18.92,2.46,3,4.46,5,7.22-1.61,2.11-4.21,5.77-7.06,9.21-4.12,5-4.05,8.36-.38,13.69,3.15,4.56,5.24,9.88,8.57,14.28,4,5.34,8.95,10,13.38,15.09a14.31,14.31,0,0,1,1.86,3.53c.17.4-.12,1,.07,1.4,3.14,5.95.41,12.09.55,18.13.18,7.54,7.46,16.13,14.85,17.39,2.37.4,4.57,1.77,6.85,2.69C476.82,304.35,477,304.86,477.13,305.37Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-8')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-8')"
        id="prague-8"
        class="cls-2"
        d="M655.74,215.77a18.38,18.38,0,0,1-7.18,7.5c-4.71,2.75-8.8,6.85-12.42,11-1.6,1.84-1.66,5.22-1.93,7.95-.21,2.19,1.34,3.6,3.56,3.56,3.54-.06,7.21.15,10.59-.68,7.29-1.79,13,1.72,19.37,4.37-.86,4.09-3.72,8.58,3.17,10.54a19.82,19.82,0,0,1-2,1.48c-4.83,2.52-9.92,4.62-14.44,7.59-5.32,3.48-8.8,8.2-8.14,15.32.6,6.45.33,13,.47,19.46a7,7,0,0,0,.34,2.77c1.44,3,.29,5.42-1.59,7.47-5.33,5.79-10.79,11.47-16.3,17.08a9.93,9.93,0,0,1-8.54,3.11c-3.26-.25-6.67,1.85-10.05,2.84-11.91,3.47-23.8,7-35.76,10.33-5.27,1.47-10.7,2.36-16,3.87-1.4.41-2.43,2.13-3.62,3.27-.89.85-1.6,2.12-2.66,2.52-3.29,1.26-7,1.69-10,3.43-2.08,1.23-3.75,3.87-4.62,6.25-1.17,3.21-2.81,3-5.13,1.79-3.11-1.64-5-4.2-4.41-7.77.83-4.63-.34-8.87-1.46-13.25-.67-2.66-.53-5.54-.68-8.32-.1-1.77.13-3.56-.09-5.29-.74-5.76,1.87-9.49,7.5-10.39,2.8-.44,5.62-.83,8.45-1.15,8.21-.95,14.72-5.18,21-10.18,3.56-2.81,8-4.55,11.91-6.89,9.42-5.6,13.23-14.42,10.51-24.07-2.83-10.06-9.74-15.61-20.19-16.37-3.54-.26-7.06-.77-10.58-1.23a7.36,7.36,0,0,1-6.23-5.13c-1.59-4.1-4.15-5.12-8.42-3.76-6.91,2.21-13.24-.14-18.83-3.68-4.34-2.75-3.59-8-3.13-12.45.51-5.12-.84-6.12-5.72-4.51a43.8,43.8,0,0,1-10.71,2.21c-5.32.37-8.72-4.17-7.52-9.41,1-4.26.14-5.15-4.25-5.53-6.58-.57-13.3-.72-19.67-2.25-8.55-2.06-15.59-6.76-18.74-15.63-.76-2.13-2-3.23-4.22-2.82-6,1.09-9.72-1-11.5-7.11-.55-1.86-3-3.26-4.69-4.67-5.22-4.24-11-7.8-14.26-14.13s-2.88-12.1,1-17.79c3.43-5.05,8.43-9,10.25-15.21,1.5-5.15,3.79-10.06,5.46-15.17.57-1.74.35-3.75.47-5.64.32-4.62,3.24-7.58,7.87-7.31,4,.23,8,1.49,11.92,1.5,4.15,0,8.3-.89,12.43-1.49a61.26,61.26,0,0,0,8-1.48,41,41,0,0,0,9.11-3.4c1.06-.6,1.62-3.1,1.45-4.62-.82-7.56,1.87-10.66,9.45-10.45a71.1,71.1,0,0,0,8.12.14c2.94-.26,4.55-1.88,3.63-5.12-.28-1-.43-2.09-.62-3.14-1.05-5.74,1-9.1,6.62-10.7s11.46-3,17.14-4.71c3.87-1.13,6.84-.23,9.55,2.79a7.21,7.21,0,0,0,4.76,2.22c7.47,0,15,0,22.38-.73,5.46-.5,10.81-2.09,16.23-3,2.56-.45,5.18-.53,7.76-.79,3.3-.34,4.79-2.31,4.86-5.48s.13-6.64,0-10,1.25-6,4.37-7.48a5.72,5.72,0,0,0,3.48-6.35c-1.14-11,2.88-12.44,12.74-13.11,4.49-.31,9-.11,13.52,0,2.8,0,4.64-.69,5.42-3.83,1-4.2,3.58-6.07,8.06-6.08,17.3-.07,34.61-.63,51.83,1.82,4.68.67,9.44.78,14.17,1.06,8.1.49,10.84,3.85,9.62,11.75-1.33,8.54-2.67,17.08-3.81,25.65A10.26,10.26,0,0,1,710,66c-3,2.2-3,4.07.18,6a9.2,9.2,0,0,1,4.93,8c.13,2.81,1.17,5.56,1.56,8.37.22,1.59.58,3.8-.24,4.78-4.13,4.93-4.49,11.58-8,16.65-1.24,1.79-3.7,2.72-5.53,4.14-1,.8-2.57,1.72-2.67,2.73a4.32,4.32,0,0,0,1.94,3.3c8.53,5.21,10.66,13.16,9.83,22.37-.48,5.42-3.1,7.75-8.53,8-9.73.51-9.65.5-8.61,10.08.56,5.1,1,10.11-4.32,13.69-1.19.81-1.26,4.23-.84,6.24.68,3.27-.47,4.21-3.43,4.54-5.29.61-10.57,1.35-15.8,2.33a8.05,8.05,0,0,0-4.06,2.48c-4.39,4.81-8.54,9.85-12.91,14.69C649.26,209.07,649.82,212.8,655.74,215.77Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-22')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-22')"
        id="prague-22"
        class="cls-3"
        d="M897.18,545.83c2.05-3.46,5.14-6.63,5.69-10.18a15.55,15.55,0,0,1,3.94-8.3,4.23,4.23,0,0,1,3.47-1.08c3.71.8,7.44.76,10-2s5.84-3.7,9.44-3.78a82.09,82.09,0,0,1,11,0c6.95.82,12-3.15,12.44-10.17.4-7.17.38-7.27,7.29-8.35,4.79-.75,7.5-3.57,9.11-7.93a4,4,0,0,1,2.14-2.31c4.71-1.26,9.43-2,14.3-.2,2.14.8,4.65.57,6.92,1.12a4.71,4.71,0,0,1,2.89,1.94,25.19,25.19,0,0,0,13.72,12.27,55.61,55.61,0,0,1,8.93,5.06,23.31,23.31,0,0,0,30.17-3.55,8.93,8.93,0,0,1,2.76-2.16c5.67-2.37,11.47-4.45,17.08-6.95,3.54-1.57,6.82-3.69,10.7-5.82.16,1.48.34,2.9.47,4.32.36,3.88,2.33,5.22,5.71,3.45,11.19-5.84,19.11-.66,25.92,7.06.39.44.58,1.08,1,1.45,10.81,9.12,16,22.43,24.55,33.19.73.91,1.66,1.67,2.49,2.52a17.12,17.12,0,0,1,4.51,17.08c-1.62,6.35-6.06,10.32-12.38,12-2.63.72-5.32,1.21-8,1.85-5.17,1.25-6.54,4.13-3.83,8.8s6,9.41,9,14.11c3.74,5.91,7.43,11.85,11.22,17.72a8.8,8.8,0,0,0,2.7,2.73c7.64,4.61,9.63,11.65,8.56,19.91-.75,5.86-1.84,11.67-2.68,17.51-1,6.9-4.48,11.95-10.94,14.63a5.43,5.43,0,0,0-3.72,5c-.6,6.84-3.75,12.34-8.73,17a36.28,36.28,0,0,0-5,6c-4.86,7-11.9,10-20.32,8.39-4.25-.82-5.4,0-5.27,4.46.19,6.45-2.48,11.25-7.35,15.39s-9,8.72-13.53,13.14a18.72,18.72,0,0,1-22.85,3.18c-3.75-2-7.76-3.37-12.22-2.66a22.67,22.67,0,0,1-19.5-5.53,8.36,8.36,0,0,0-7.93-2c-4.41,1.06-8.5.07-12.38-1.9a17.78,17.78,0,0,0-10.26-1.58c-7.06.67-13.44-1.56-17.72-7.65-2.24-3.19-4.68-5.68-8.43-7.21-5.5-2.24-8.78-6.63-9.89-12.58-1-5.65-1.26-5.69-7.12-6.24-2-.19-4.24-.47-5.74-1.56-3.82-2.78-8-4.13-12.54-5.25a18.54,18.54,0,0,1-7.94-4.47,11.87,11.87,0,0,0-7.42-3.47,19.46,19.46,0,0,1-5.76-1.64c-4.17-1.87-4.21-3.11-1.5-6.91a89.49,89.49,0,0,0,7-11.43c2.49-4.95,2.43-10.27,1.25-15.64-.7-3.2-1-6.47-1.6-9.7-.69-4-1.61-7.88-2.1-11.86-.28-2.28.27-4.64.17-7a106.65,106.65,0,0,0-1-14c-.58-3.24-.34-5.27,2.68-7.1,7.17-4.36,12.44-10.21,13.36-19,.86-8.27-1.61-15.41-8-20.6-4.83-3.91-10.28-7.06-15.55-10.42A12.45,12.45,0,0,0,897.18,545.83Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-21')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-21')"
        id="prague-21"
        class="cls-4"
        d="M1080.92,486c-1.55.71-4.48,2-7.35,3.38-3.81,1.85-7.56,3.81-11.37,5.65-1.91.92-3.91,1.64-5.83,2.52-5.43,2.47-10.6,5-15.32,9.1-5.49,4.76-12.51,4.24-19,.42-4-2.34-8-4.56-12.12-6.6-7.57-3.75-10-10.4-11.34-18.13-1-5.74-2.4-11.78-5.29-16.7a17.71,17.71,0,0,0-10.64-8.26,16.11,16.11,0,0,1-11.63-10.11c-2.32-5.93-4.27-12-6.55-17.94-.5-1.3-1.57-3-2.67-3.26s-2.85.85-3.72,1.87c-6.46,7.64-15.44,10.07-24.63,11.2-7.71.94-14.05-3.95-16.66-11.27-3.33-9.34-6.45-18.75-9.92-28-1.69-4.53-4.18-8.75-6-13.25-2.41-6.11-2.22-12.18,2-17.48,4.54-5.65,10.46-7.95,17.7-6.3,1.62.37,3.42.31,4.87,1,4.45,2.14,8.28.55,12-1.65a8.43,8.43,0,0,0,2.49-2.38,34.14,34.14,0,0,0,6.45-17.49c1-11.49,3.18-13.58,15-14,9.76-.31,19-2.64,28.3-4.73a65.87,65.87,0,0,1,10.46-1.84,8.23,8.23,0,0,1,5.24,2c3.53,3.05,6.21,7.05,11.25,8.24,1.61.39,2.74,2.51,4.28,3.56,5.18,3.53,10.34,7.1,15.72,10.29,1.39.81,3.63.57,5.39.27,2.68-.46,4.55-.73,4.71,3,.13,3.37,2.55,4.32,5.54,2.56,1.94-1.14,3.77-2.49,5.77-3.49,5.61-2.8,7.23-7.7,7.5-13.45.1-2.24.54-4.47.67-6.71.12-2.08.73-3,3.09-2.47,8.71,1.95,10,2.86,12.53-8.43.65-2.83,1.68-4.32,4.53-4.75,6.74-1,10.66-6.28,15.17-10.52,2-1.88,1.27-4.13-1.06-5.24-2.86-1.37-2.25-2.86-1.43-5.36s.46-5.71.51-8.6c.06-3.86-.11-7.73.08-11.59.11-2.07,1.56-2.8,3.71-2.9,7-.35,12.78,1.82,17,7.69a6.29,6.29,0,0,0,3.06,2.19c5.5,1.68,11.56,2.24,16.48,4.93,9,4.93,18.73,5.47,28.46,6.61,5.18.61,10.34,1.28,15.49,2.11,8.54,1.37,16.6,12.15,15.7,21.09a5.64,5.64,0,0,0,2.3,4.49c6.41,3.57,13.11,6.6,19.57,10.08,8.29,4.47,13.08,11.35,13.82,20.92.14,1.7,1.05,3.32,1.4,5,.76,3.76,2.6,7.81,1.86,11.28-3,13.76-6.56,27.4-10.31,41a161.31,161.31,0,0,1-6.81,19.3c-3,7.12-8.06,11.89-16.31,12.36-5.79.33-11.65.43-17.33,1.46-4,.73-7.74,2.86-11.61,4.33-5.52,2.08-11.19,3.83-16.55,6.27-8.85,4-18.26,7-25,14.89-2.4,2.77-6.7,4.24-10.41,5.47-4.56,1.52-9.28,2.11-13,5.89s-9.55,3.7-14.25,5.59S1088.4,487,1080.92,486Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-12')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-12')"
        id="prague-12"
        class="cls-5"
        d="M431.23,787.89c-.94-11.35,1.27-22.17,5.18-32.76a20.6,20.6,0,0,0,1.29-6.94c0-11.83,2.39-23.23,5.7-34.51a17.44,17.44,0,0,0,.71-4.87c0-10.15-1.15-20-5.9-29.27-5.11-10-6.2-21.09-8.24-31.88a141.73,141.73,0,0,1-2.18-19.38c-.32-6.92,4.67-11.78,11.62-11.33a135.85,135.85,0,0,1,18.95,2.54c2.56.54,5.08,2.48,7,4.38s3.42,2.56,5.92,1.62c7.39-2.77,14.76-5.61,22.28-8,3.29-1,6.91-1,10.36-1.51,4-.6,7.94-1.22,11.89-2a23.17,23.17,0,0,1,13.89,1.58c2.15.94,3.87.27,5.18-1.73,1.77-2.66,3.61-5.29,5.52-7.84,4.46-5.95,11.65-7.23,18-3.41a93,93,0,0,1,23.66,20.75,44.3,44.3,0,0,1,4.37,7.31c1.27,2.36,3,3.14,5.57,2.28,5.15-1.7,10.38-3.17,15.52-4.88a11.8,11.8,0,0,1,15.16,7.52c.69,1.94,2,3.65,3,5.51a34.24,34.24,0,0,1,2.33,5.13q3.59,11.36,7,22.77c.78,2.62,2.18,3.77,5.13,3.77,6.55,0,10.68,3.76,11.51,10.26.74,5.79,2.63,11.58-.31,17.43-1.15,2.28,1.64,6.93,4.16,7.33,11.35,1.81,15.32,10,17.31,19.84.65,3.24,1,6.54,1.77,9.76.31,1.3,1.44,2.38,2,3.65,1.23,3,2.8,5.94,3.32,9.06.48,2.84-.14,5.89-.44,8.83-.47,4.64-3.88,8.09-9.09,9.17-6.12,1.28-12.27,2.43-18.41,3.65-3.24.65-4.74,2.41-4.73,5.94,0,6.94-4.15,10.79-11.14,11.91-11.69,1.87-9.89.16-12,10.67-.6,3-.58,6.35-1.91,9-2.57,5.09-5.19,10.5-9.12,14.44s-9.7,3.28-15.08,1.26a37.13,37.13,0,0,0-11.23-2.54,21.38,21.38,0,0,1-12.25-4c-3.45-2.51-5-1.94-6.91,1.69-3.53,6.63-8.49,12.17-15.26,15.36-4,1.87-8.66,2.21-13,3.14-4,.83-7.34,2.18-9.33,6.19-2.75,5.54-8.49,6.72-13.72,7.83-6.68,1.42-13.62,2.74-20.36,2.43-4.64-.21-9.18-3.19-13.69-5.09a57.53,57.53,0,0,1-6.45-3.4c-2.43-1.4-5.42-2.43-7.05-4.5-3.17-4-7.51-5.92-11.67-8.4-7-4.17-12.13-10.09-13.49-18.44-.38-2.36-1.33-3.55-3.51-4.26-6.53-2.16-8.79-5.5-8.73-12.46C431.26,795,431.23,791.44,431.23,787.89Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-16')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-16')"
        id="prague-16"
        class="cls-6"
        d="M434.87,598c-.69,4.26-1.27,8.21-2,12.13a3,3,0,0,1-1.38,1.9c-8.91,4.74-11.2,12.69-9.73,21.76,2.18,13.43,4.71,26.82,7.75,40.08,1.31,5.7,4.75,10.89,6.38,16.55,2.24,7.75,3,15.72.92,23.77-2.76,10.53-5.13,21.14-5.27,32.13a26.86,26.86,0,0,1-1.46,8.32c-3.42,10-5.57,20.05-4.93,30.68.29,4.84,0,9.72-.06,14.58-.08,7,3.36,11.8,9.06,15.5a11.64,11.64,0,0,1,3.74,4.64c3.81,7.9,8.37,15.13,16.51,19.24,1.89.95,2.82,1.88,2.19,4.06-2.23,7.7-4.06,15.54-6.64,23.11-3.68,10.77-3.76,21.56-1.51,32.52,1.52,7.39,3.39,14.73,4.45,22.19.83,5.82-1.89,10.84-5.58,15.26a12,12,0,0,1-15.83,2.2c-6.48-4.46-13.69-8.22-18-15.23-1.51-2.47-2.14-5.46-3.45-8.07-.66-1.3-1.89-3.11-3-3.2a5.39,5.39,0,0,0-4.37,2c-3.23,5.65-7.8,8-14.21,7.05a16.51,16.51,0,0,0-3.91,0c-5.63.54-9.52-1.89-12.26-6.72-2.28-4-2.94-4.14-7-2q-4.41,2.31-8.63,4.93c-4.34,2.69-8.53,2.92-13.05.24a7.55,7.55,0,0,0-5.56-.76c-4.32,1.42-8.3.78-12.49-.38a13.58,13.58,0,0,0-6.87-.19c-6.59,1.78-13,2.12-19.47-.44-1.66-.65-3.73-.32-5.62-.34-6.88-.1-10.49-3.14-12-9.76-2.31-10.43-7.89-18-18.55-21.3-9.91-3.1-15.78-17.76-11.63-27.87,1.46-3.57,2-7.51,3.58-11a76.81,76.81,0,0,1,6.75-12.74c2.51-3.68,2.81-4.4-.59-7.2C253,819,252.54,809,259.67,799.45c3.72-5,7-10.3,10.72-15.24a18.63,18.63,0,0,1,5.65-4.65c5.09-2.88,7.51-8.44,5.57-13.86a5,5,0,0,0-1.48-1.93c-4.45-3.76-6.4-8.5-5.38-14.23a5.72,5.72,0,0,1,2.33-3.5,60.57,60.57,0,0,1,8.31-4,13.85,13.85,0,0,0,9.05-12.21c.54-6.45-.78-12.73-6.65-16.69-5.37-3.62-11.15-4.75-17.89-3.81-3.26.45-7.06-2.84-10.55-4.57-.26-.12-.05-1.32.06-2,.23-1.52.65-3,.8-4.55.52-5.32.49-5.32,4.65-9.26,5.56,4.6,8.3,4.82,14.73,1.15.93-.53,1.89-1,2.78-1.59,2.84-1.89,5.45-2.37,8.84-.63,4.41,2.27,8.8,1.49,12.15-2.59,1.61-2,3.62-2.47,6.12-2.89,6.06-1,12-2.65,18-4.25,2.5-.68,4.1-.84,5.16,2.19,1.17,3.32,4.15,4.54,7.56,5.06,7.57,1.15,14.84-.34,22.14-2,10.12-2.32,13.84-2.9,13.47-17.58,0-2,1.07-4,1.38-6.08.7-4.73,2.08-9.56,1.62-14.2-.64-6.6-.63-9.88,6.78-13.71,3.84-2,6.36-4.84,6.56-9.4a5.16,5.16,0,0,1,1-2.56c5.43-7.67,5.44-7.66,6.59-15.89,4.82,3,9.6,1.88,14.67.62,6.21-1.55,12.57-2.38,18.08-6A8.24,8.24,0,0,1,434.87,598Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-5')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-5')"
        id="prague-5"
        class="cls-7"
        d="M252.58,433.43c-1-5.88-1.75-11.21-2.67-16.51-.77-4.38.27-5.43,4.64-5.2,1.29.07,2.69-1,3.95-1.63,1.76-.94,3.33-2.56,5.18-2.95a153.08,153.08,0,0,1,16.48-2.61c2.29-.22,4.67.9,7,1.05,1.71.11,3.82.16,5.11-.71,2.7-1.82,5.24-2.82,8.58-2.15,2,.41,4.17-.09,6.26-.1,2.67,0,5.34.2,8,.1a18.13,18.13,0,0,0,4.73-.83c4.91-1.55,9.78-3.24,14.67-4.86,1-.33,2.52-.3,2.91-1,1.78-3.06,4.8-2.73,7.53-3.07,12.33-1.49,24.66-3,37-4.22a6.63,6.63,0,0,1,5,2.3c1.85,2.33,3.67,2.65,5.72,1,4.2-3.47,8.56-3.93,13.71-2.19A137,137,0,0,0,422.79,394a9.66,9.66,0,0,0,5.88-.58c5.64-2.88,11.05-6.23,16.62-9.26a12.19,12.19,0,0,1,4-1c3.69-.54,7.38-1.1,11.1-1.43a123.52,123.52,0,0,1,12.75-.61c.85,0,1.89,1.77,2.47,2.91a56.65,56.65,0,0,1,3.59,8.19,64.66,64.66,0,0,1,1.94,9.27c.06.43-1,1.38-1.56,1.48-3.5.58-4.45,2.65-3.9,5.88,2.33,13.89,4.68,27.77,6.88,41.68.32,2-.14,4.07-.24,6.1-.09,1.65-.58,3.38-.21,4.92,2.05,8.6-.19,16.6-2.78,24.71-3.92,12.29-7.32,24.75-11,37.11-5.36,17.85-14.32,34-23.52,50.1-2.23,3.91-4.55,7.78-6.61,11.78-1.81,3.52-4.55,5.68-7.93,7.7-6.62,4-14.13,4.6-21.25,6.7-2.79.82-4.85.21-6.25-2.45a31.72,31.72,0,0,0-2-2.94c-1.52-2.19-3.32-2.31-5.52-1-5.31,3.26-5.56,3.91-3.23,9.6,2.06,5,.87,9.27-4.08,13.42-1.89,1.59-2.91,3-2.46,5.7.21,1.26-1.36,3.5-2.69,4.22-8.82,4.73-11.92,10.44-10.08,20.27a16.57,16.57,0,0,1-2,12.26,8.54,8.54,0,0,0-1.07,4c-.16,2.6-.06,5.21,0,7.82,0,3.3-1.26,5.18-4.77,5.89-7.52,1.51-14.83,4-22.74,2.87-2.89-.42-4.27-1.18-4.13-4.33.19-4.07-1.34-5.19-5.55-4.23-6.12,1.4-12.18,3.06-18.31,4.4-2.61.57-5.39.38-8,1a10.16,10.16,0,0,0-4.73,2.54c-5,5.06-4.8,5-11.2,2.12a8.78,8.78,0,0,0-6,.06c-3.09,1.14-5.82,3.23-8.88,4.46a6.7,6.7,0,0,1-4.83-.07,3.37,3.37,0,0,1-1.6-4.82c.35-.74.34-1.66.75-2.35q6.9-11.52,13.88-23c3.09-5.07,2.49-9.85,0-15.15-1.67-3.57-1.81-7.87-2.45-11.88-.08-.52,1-1.22,1.49-1.82,4.39-5,8.09-10.25,9.81-17,1.49-5.89,4.38-11.44,6.85-17A3.25,3.25,0,0,1,302,591c7.1,1.26,12.6-1.7,17.8-6,2.11-1.76,4.75-2.88,7.16-4.27,4.6-2.65,9.94-4.52,13.62-8.1,5.52-5.38,5.87-13,4.79-20.29-.37-2.44-.46-4,1.32-6,5.53-6.06,5.67-11.93,1.28-19.11a29.67,29.67,0,0,1-3.29-8.18,6.38,6.38,0,0,1,1.09-4.59c6.09-8.69,6.56-19.83-3.55-27.26-6.94-5.11-12.88-11.88-21.15-14.73-7.26-2.51-12.92-5.68-16.22-13.15-1.17-2.63-5.46-4.88-8.62-5.37-4.23-.64-7.46-2.72-11.05-4.44-5.32-2.54-10.73-4.89-16.1-7.33-.73-.34-1.78-.51-2.12-1.09C263.61,435.31,258.37,433.24,252.58,433.43Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-13')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-13')"
        id="prague-13"
        class="cls-8"
        d="M201.36,467.58c-.16-8.4,1.32-10.17,8.84-12.06a129.79,129.79,0,0,0,14.32-4.16,46,46,0,0,0,10.58-5.59c6-4.35,12.71-5.58,19.76-6,3.25-.2,5.31,1.82,6.72,4.46,1.23,2.28,3.13,3.11,5.5,4A126.74,126.74,0,0,1,282.61,455c4.07,2.13,7.7,4.91,12.68,4.93,1.6,0,3.25,1.64,4.75,2.71a3.93,3.93,0,0,1,1.31,2.08c2,7.33,7.29,10,14.22,12.14,11,3.36,19.31,11.32,27.06,19.57,2.66,2.84,1.91,9.79-1.4,13.6-3.85,4.41-3.73,8.86-1.34,13.72q2.16,4.38,4.27,8.8a7.8,7.8,0,0,1-1.91,9.41c-4.05,3.27-4.2,6.58-3.13,11.51.91,4.18-.86,8.95-1.55,13.44a2.72,2.72,0,0,1-1.31,1.63c-4.07,2.27-8.21,4.41-12.29,6.68-2.53,1.41-5.28,2.62-7.41,4.51-4.38,3.89-8.79,6.67-15,4.72-3.8-1.19-7.2,1.32-8.18,5.08a66.72,66.72,0,0,1-2.95,7.58c-1.37,3.47-3.2,6.83-4,10.42a25.81,25.81,0,0,1-10.21,15.65c-2.39,1.77-3.64,3.76-1.61,6.6a3.26,3.26,0,0,1,.76,1.59,29.21,29.21,0,0,0,4,15.12c.69,1.16-.18,3.71-1,5.27-3,5.73-5.86,11.67-9.7,16.82-3.44,4.59-4.5,10.48-8,14.57-4.82,5.67-7.66,11.48-7.37,18.85a7.31,7.31,0,0,1-.42,1.72c-1.18,5.39-.75,5.8,4.37,7.6a32.27,32.27,0,0,1,7.76,4.16,5.07,5.07,0,0,0,5.54.72c8.78-3.7,17.73,2.15,17.9,11.64a8.72,8.72,0,0,1-5,8.35c-4.89,2.63-9.74,5.33-14.61,8a4.44,4.44,0,0,1-1.94.83c-7-.21-12.34,4.46-18.54,6.58-5.83,2-9.39.82-12.39-4.52-2.23-4-4.65-7.9-7.27-11.66a5.65,5.65,0,0,0-3.75-2c-7.58-.66-12.45-5.24-16.24-11.16-1.23-1.91-2.32-3-4.6-3.17-6.32-.5-11.11-3.11-12.79-9.8a4.2,4.2,0,0,0-1.32-2c-3.28-2.84-6.69-5.54-9.94-8.41a7.56,7.56,0,0,1,1.63-12.73,17.69,17.69,0,0,1,2-.85c5.21-1.87,7.45-5.18,7.2-11.07a94.2,94.2,0,0,1,1.46-19.39c1-5.81,5.8-7.8,11.41-5.88,4.71,1.63,8.3,4.27,10.61,8.82.91,1.8,2.07,5.08,4.71,3.45,1.8-1.11,3.57-4.36,3.28-6.33-.78-5.13.9-8.76,4.54-12a4.77,4.77,0,0,0,1.47-2.34c1.39-6.11,2.75-12.22,3.93-18.37.7-3.62-.53-5.63-3.74-6-8.23-1-16.48-1.84-24.74-2.38a11.35,11.35,0,0,0-6.19,1.94c-4.78,3-9.31,2.14-12.6-2.56a8.71,8.71,0,0,0-3.41-2.88c-11.93-5.12-22.79-11.63-30.37-22.61-4.13-6-10-10-16-13.82-11-6.82-17.15-17.05-20.58-29.22a71.78,71.78,0,0,0-2.56-7.71c-1.56-3.81-1.07-7.12,1.71-10.18,3.28-3.6,3.16-6.05-.63-9.22-3.23-2.69-3.48-6.16-2.59-9.72.84-3.38,3.48-5.1,6.88-5.95a12.55,12.55,0,0,0,5.16-2.57c5.78-5.12,10.41-5.33,17-1.24,1.7,1.06,4.54.95,6.68.52,8.36-1.69,16.63-3.77,25-5.59,2.65-.58,5.37-.87,8.06-1.23,2.36-.32,3.68-1.54,3.64-4-.05-4.39,2.28-7,6.15-8.63,2.3-1,4.44-2.29,6.77-3.16C200.11,474.32,202.66,471.78,201.36,467.58Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-11')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-11')"
        id="prague-11"
        class="cls-9"
        d="M682.35,731.76c4.18-1.58,8.34-3.19,12.53-4.71,4.94-1.78,7.66-4.95,7.07-10.48a14.12,14.12,0,0,1,.37-3.51c.6-3.81.79-7.74,1.92-11.39,4.29-13.83,8.94-27.56,13.34-41.36,1.47-4.61.24-8.86-1.4-13.4-2.34-6.5-3.42-13.45-5-20.2a4.79,4.79,0,0,1-.12-1.06c0-8-4.64-11.94-12-13.48-5.21-1.1-10.36-2.47-15.6-3.42-2.88-.51-4.14-2-4.28-4.73-.28-5.32-.59-10.64-.77-16-.17-5-3.28-8.14-8.32-8.17a14.05,14.05,0,0,0-2.83.24c-11.21,2.17-20.34-3.52-29.6-8.18-4.22-2.13-7.22-12.48-5.26-16.72.52-1.12,2.59-1.88,4.06-2.12,9.8-1.62,19.7-2.69,29.42-4.69a69.74,69.74,0,0,0,15.45-5.7,36.74,36.74,0,0,0,9.08-6.53c4.11-3.86,9.32-3.62,14.21-4.51,2.89-.53,5.44-.79,6.8-4.13.51-1.25,2.8-2,4.43-2.53,3.21-1,4.43-3,3.69-6.17-.42-1.86-.63-3.3,1.76-4.2.94-.36,1.67-2.19,1.85-3.44.51-3.56,1.31-4.31,4.77-3.45,1.25.32,2.41,1.13,3.67,1.29,1.9.24,3.85.05,5.78.14,1.62.08,3.55-.21,4.79.56,4.89,3,7.16,7.84,7.53,13.43s2.22,9.78,8.08,11.47c2.13.62,4.16,2.66,6.14,2.54a20.69,20.69,0,0,0,9.25-2.7,41.84,41.84,0,0,1,29.63-5.76,5.36,5.36,0,0,1,2,.59c6.21,3.93,12.82,7.42,18.41,12.11,2.65,2.23,3.75,6.67,4.79,10.32s.87,7.5,1.64,11.18a5.52,5.52,0,0,0,2.71,3.12,15.85,15.85,0,0,0,5.39,1.69,6.63,6.63,0,0,0,4.28-.57c4.44-3,9.44-3.6,14.52-4.25a49.89,49.89,0,0,0,7.14-1.75c3.52-1,7-2,10.51-3.19,2.28-.76,4.76-1.38,6.66-2.75a18.73,18.73,0,0,1,23.87,1.14,40.71,40.71,0,0,0,5.38,4c9.35,6,11,19.44,3,27.12a51.38,51.38,0,0,1-9.27,6.5c-2,1.21-3,2.47-2.53,4.86a50,50,0,0,1,1.51,8.67c.15,4.44-.28,8.89-.37,13.34a30.93,30.93,0,0,0,.32,5.44c.45,2.78,1.18,5.52,1.68,8.3q1.35,7.46,2.56,14.94c1.25,7.67-2.18,13.81-6.52,19.65a34.68,34.68,0,0,0-3.29,5c-2.82,5.61-15.57,15.36-21.73,16.15-6.51.84-11.7-1.73-16.11-6.51a36.45,36.45,0,0,0-7.62-6.15c-1.07-.65-3.28-.37-4.49.33a26.69,26.69,0,0,0-5.73,4.73c-4.9,5.1-10.78,5.85-17.36,4.51a69.83,69.83,0,0,0-9-1c-8.25-.56-16.39-1.28-22-8.6-1.89-2.45-4.6-3.21-7.64-2.83s-4.27,2.7-2.34,5.3a72.55,72.55,0,0,0,5.56,6.46c7.83,8.27,6.84,19.84-2.18,26.71-3.29,2.51-6.25,5.44-9.38,8.17-1.7,1.47-3.21,3.52-5.19,4.26-6,2.22-9.64,7.33-14.57,10.73-8.46,5.83-16.85,12.08-27.84,13-9.35.74-19.12-.09-23.62-10.62-1-2.39-2.73-2.62-5.17-2.53a84.19,84.19,0,0,1-13.65-.64c-1.77-.23-3.36-1.87-5-2.86Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-4')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-4')"
        id="prague-4"
        class="cls-10"
        d="M614.82,478.47c.65,4,3.48,4.46,6.68,4,3.55-.51,5.71.38,6.69,4.3s2,3,8.21,3c1.55,0,3.1.27,4.65.28a18.68,18.68,0,0,0,3.81-.32c1.25-.24,2.46-.73,3.32-.16,2.38,1.46,4.81,2.85,7.12,4.42a7,7,0,0,1,2.38,2.65c.16.35-1.22,1.31-1.73,2.1-.78,1.19-2.11,2.59-1.92,3.69a4.57,4.57,0,0,0,3,2.88c6.12,1.33,12.31,2.49,18.52,3.36,3.23.45,5.63,1.58,7,4.6a6.21,6.21,0,0,0,.8,1.17c2.84,3.71,6.34,7.18.74,11.68-1.31,1.06-1.22,3.87-1.76,5.87-.18.65-.17,1.74-.53,1.88-3,1.15-4,6.07-8.44,4.56a1.17,1.17,0,0,0-1,.28c-5,5-11.83,4.42-17.94,5.76s-12.41,1.63-18.62,2.46A28.62,28.62,0,0,0,631,548c-3.51,1.14-5.34,3.14-5.15,7.32.26,5.87.31,11.77,3.84,16.68a21,21,0,0,0,7.21,6.46,95.38,95.38,0,0,0,17.87,7.22c4.15,1.12,8.85.67,13.25.27,3.28-.29,4.18.66,4.26,3.78.13,5.32.45,10.65,1.07,15.94.69,5.8,3.38,8,9.15,9.17,6.24,1.27,12.45,2.82,18.54,4.67,1.4.42,2.85,2.41,3.27,4,1,3.76,1.17,7.75,2.14,11.52a153.71,153.71,0,0,0,4.91,16.17c1.88,5,0,9.4-1.29,13.84-2.38,7.94-5.23,15.75-7.9,23.6a4.18,4.18,0,0,1-.93,1.87c-2.62,2.12-3.39,4.46-3,8s-1,7-1.55,10.57c-.26,1.51-1.06,3.12-.79,4.52,1.18,5.94-2.59,7.94-7.11,9.42-3.13,1-6.3,1.93-9.74,3-.93-2.54-2-4.9-2.66-7.37-2.13-8.31-7.88-13-15.53-15.74-2.62-.92-3-1.93-2.46-4.61a38.81,38.81,0,0,0-2.47-21.91c-2.09-5.18-6.58-8.34-12.24-9.29a4.68,4.68,0,0,1-4.18-3.71c-1.23-4.33-2.38-8.71-4-12.9-2.59-6.68-5.23-13.37-8.43-19.77-4.12-8.26-13.94-11.36-22.63-7.93a66.41,66.41,0,0,1-10.83,3.12,4.27,4.27,0,0,1-3.57-1.52,87.25,87.25,0,0,0-31.24-28.43c-7.28-3.94-17.9-1.35-22.8,6.15-3.54,5.41-6.92,7.84-13.35,5.51-2.13-.77-4.91.07-7.36.38-6.89.85-13.8,1.61-20.63,2.81-2.74.48-5.25,2.14-7.93,3.06-5.24,1.79-10.52,3.46-15.82,5.09a2.3,2.3,0,0,1-1.9-.53c-5.29-5.28-12.35-5.63-19.06-6.84a56.26,56.26,0,0,0-7.78-.72c-2.32-.08-2.9-.88-2.7-3.31,1.16-13.47,6.68-25.11,13.6-36.54,10.39-17.19,18.66-35.41,23.81-55,3.5-13.28,7.9-26.32,11.36-39.6,1-4,.71-8.46.19-12.61-.86-6.93,4.76-12.43,11.65-10.73a19.59,19.59,0,0,1,5.92,2.24c2.59,1.66,5,1.15,6.21-1,3.59-6.19,9.82-6.57,15.67-7.49,6.64-1.06,10.37-5.17,12.79-10.86,1.21-2.85,1.75-3.11,4.16-1,1.77,1.55,3.6,3,5.57,4.69-1.26,1.85-1.45,3.85.91,5.28,8.8,5.3,17.59,10.63,26.5,15.76,1.76,1,4.15.9,6,1.83a8.91,8.91,0,0,1,3.55,3.52c2.62,4.9,5,9.92,7.4,15,1.28,2.73,3.11,3.37,5.73,2a81.67,81.67,0,0,1,8.29-4.09C610.44,478.32,612.45,478.61,614.82,478.47Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-19')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-19')"
        id="prague-19"
        class="cls-11"
        d="M963.37,228.07c-2.53-.91-4.22-1.4-5.81-2.12-5.83-2.63-12-2.61-18.17-2.32-3.13.14-4.06,1.93-2.87,4.84.3.74.59,1.48,1.19,3-3,0-5.54-.05-8.08,0-3.88.09-5,1.23-5.2,5.16-.39,7.84-.39,7.84-8.19,7.84-1.19,0-2.38,0-3.56,0-3.11,0-5.21.82-5.94,4.56-1,5.14-2.51,5.65-7.62,4.49-1.94-.44-4-.42-6-.74a33.81,33.81,0,0,1-6.86-1.41c-7.62-3-15.06-6.39-22.72-9.23-2.29-.85-5.12-.71-7.62-.42-4.81.55-9.43,1.07-13.43-2.61-.74-.68-2.16-.71-3.28-.87-1.28-.17-2.6,0-3.86-.22-7.79-1.47-7.72-1.48-9.68,6.14a9.76,9.76,0,0,1-6.92,7.47c-7.88,2.28-15.81,4.17-24.14,3.38a10.39,10.39,0,0,0-4.46.72c-6,2.26-9.52,1.42-13.84-3.53a19.39,19.39,0,0,0,2.18-3.91c2.07-7.18,1-8.92-6.56-9.62-3.14-.29-4-1.38-3-4.24.5-1.45.79-3,1.2-4.46.8-2.89.49-5.12-3-6-.8-.22-1.47-1.3-2-2.11-1-1.6-2-3.28-3.33-5.61.22-1.14.74-3.4,1-5.7.12-.88-.07-2.49-.51-2.64a43.57,43.57,0,0,0-9.23-2.46c-1-.11-2.43,1.73-3.45,2.86a40.26,40.26,0,0,0-2.81,4c-2.92-5.06-.16-12,5-15,1.9-1.11,3.22-3.16,4.93-4.64,2.25-2,4.37-4.38,7-5.52,3.54-1.54,7.52-2.07,11.32-3a5,5,0,0,0,4.16-4.64,66.43,66.43,0,0,0-.3-24c-1.33-6.26,2.66-11.7,9-12.54,2.87-.38,4.29-1.6,5.49-4.16.95-2,3-3.5,4.54-5.25.9-1,2.26-2,2.49-3.19.75-3.79.73-7.75,1.65-11.49a19.19,19.19,0,0,1,3.74-8,37.7,37.7,0,0,1,8.89-7c10.28-6.13,20.62-12.16,31.11-17.91,8.87-4.85,15-2.36,18.22,7.16A7.35,7.35,0,0,0,870,98.61c3.37.88,6.36,3.18,9.69,4.35a18.15,18.15,0,0,0,7.78,1.15,57.84,57.84,0,0,0,11.69-2.86,7.56,7.56,0,0,0,3.7-3.48c2.32-4.33,5.87-6.4,10.56-7.56,7.82-1.94,15.43-2.93,23.48-.9,3.22.82,7-.49,10.53-1,8.38-1.15,15.08,6,12.78,14.15a12,12,0,0,1-4,5.64c-5.66,4.53-9.49,9.79-10.23,17.34-.26,2.61-2.37,5.31-4.26,7.4-1.57,1.75-2.33,3.13-1.37,5.3a4.67,4.67,0,0,1,.7,2.36c-1.54,8.35,3.11,15.28,5.3,22.72a53.74,53.74,0,0,0,14.27,23c1.57,1.55,4.11,2.24,6.33,3,5.42,1.81,8.38,6.1,7.84,11.62-.18,1.88-.66,2.69-2.88,2.31-4.29-.74-5.3,0-6,4.34C965,214.12,964.29,220.79,963.37,228.07Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-15')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-15')"
        id="prague-15"
        class="cls-12"
        d="M992.39,486.61a39.68,39.68,0,0,1-6.07-1.22c-7-2.6-13.59-.19-20.19,1.5-1.16.29-2.47,2.53-2.57,3.95-.23,3.21-1.63,4.85-4.71,5.12-2.69.23-5.39.44-8.09.48s-3.54,1.58-3.64,3.85c-.13,3-.21,5.92-.2,8.88,0,4.62-2,6-6.49,4.89-2-.5-4.17-.14-6.26,0a96.72,96.72,0,0,0-11.31,1,8.86,8.86,0,0,0-4.61,2.88c-2.76,3.08-4.68,3.55-7.75.94-2-1.7-3.63-1.47-5.16.43-2.61,3.22-5.29,6.4-7.66,9.8-.77,1.1-.58,2.85-1,4.25-.49,1.68-.66,3.91-1.81,4.82-2.36,1.87-5.28,3-8,4.45-3.63,2-8.2,2.59-9.84,7.35-.27.79-1.51,1.46-2.44,1.77-5,1.66-10.1,3.3-15.21,4.71-2.14.6-4.49.43-6.66,1a103.28,103.28,0,0,0-11.51,3.36c-3.71,1.4-5.64.71-6.47-3.13a29,29,0,0,1-.48-4.57c-.54-10.2-5.34-17.47-14.77-21.58a10.75,10.75,0,0,1-3.44-1.76c-7.71-7.89-17.13-8.73-27.34-7.14-7.14,1.11-13.76,3.19-19.72,7.47-4,2.91-12.66-1.19-13.09-6.15-.73-8.3-4.1-15-11-19.79a4.37,4.37,0,0,1-1.44-2.6,31.83,31.83,0,0,1-.31-4.6c-.5-9.19-1-18.38-1.49-27.56-.15-2.51.24-4.05,3.44-3.85,1.1.07,3-1.53,3.35-2.71,1.5-5.43,2.48-11,3.82-16.49.63-2.55,2.3-4,5.2-3.55,3.65.61,5.25-.42,5.31-4.1.1-6.83-.22-13.67-.14-20.5a4.23,4.23,0,0,1,1.85-3.17c4.93-2.49,5.48-2.28,9.13,1.85l.48.53c5,5.73,5,5.81,12.27,3.09,2.6-1,4.74-1.26,7.25.51,2.86,2,4.77,1,5.59-2.55a39.64,39.64,0,0,0,.73-4.2c.65-5.38.27-6-4.92-7.65a7.36,7.36,0,0,1-2-.73,6,6,0,0,1-1.14-1.54c.63-.33,1.29-1,1.89-.94a26.43,26.43,0,0,1,4.15.94c3.64,1,5.13.05,5.49-3.71.22-2.17,0-4.38,0-7.17,1.41.63,2.17.74,2.56,1.18,3.52,4,7.65,3.71,12,1.83,4.13-1.78,8.27-3.56,12.36-5.45,2.31-1.07,3.86-.71,4.6,1.87,1.49,5.17,4.63,8.1,10.3,8a3.05,3.05,0,0,1,2.15,1.79c1.16,3.29,3.46,5.12,6.51,6.63a7.9,7.9,0,0,1,3.22,4.23c2.52,6.85,5.69,8.84,12.72,7.2,3.1-.73,6.06-2,9.14-2.87,4.68-1.26,9.42-2.3,14.12-3.51,3.45-.88,6.88-1.88,11.06-3,1.88,5.15,4.18,11.06,6.2,17.07,4.65,13.82,16.91,20.3,30.67,15.67,6.44-2.16,12.63-5.06,18.81-7.58,1.65,4,3.51,8.94,5.67,13.72,2.88,6.37,7.8,10.56,14.38,13,4.3,1.59,7.65,4.24,9.44,8.86S993.33,480.8,992.39,486.61Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-10')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-10')"
        id="prague-10"
        class="cls-13"
        d="M782.49,353.49c-1.62.67-3.23,1.37-4.87,2-3.53,1.34-4.06,2.43-2.79,5.91s2.5,6.91,3.77,10.36a3.7,3.7,0,0,0,4.37,2.73c2.58-.33,5.23-.19,7.78-.66s3.57.51,3.91,2.78c1,6.77,2.05,13.54,3.18,21.07-2.27-.49-3.73-.71-5.12-1.13-2.48-.74-4.12.09-5.2,2.38-5,10.78-4.32,9.57,4.2,13.08-2.65,1-5.39,1.93-8.08,3-2.07.83-3.64.45-4.89-1.45-.84-1.28-1.89-2.43-2.73-3.72-2.88-4.42-2.88-4.45-8-2.68-2.8,1-5.55,2.1-8.39,2.94s-3.81,2.68-3.52,5.62c.53,5.4.77,10.83,1.2,16.25.17,2.24-.4,3.33-3,3.65-4.29.53-9.26,4.15-8.9,10.06a30.29,30.29,0,0,1-.83,8c-.56,2.62-1.21,5.32-4.44,6.29-4.42,1.35-5.45,3.21-5.23,7.75.18,3.75,0,7.52,0,11.28,0,.47-.13,1.05.09,1.39,3.5,5.47,1.29,11.55,1.82,17.33.14,1.6-.9,3.3-1.62,5.7-2.94-1.3-5.38-2.5-7.93-3.43a6.76,6.76,0,0,0-3.38-.14c-1.37.25-2.66,1-4,1.28-2.54.52-3.78,1.88-3.28,4.51.46,2.41.11,4.15-2.41,5.54-1,.57-1.54,3.05-1.37,4.56.31,2.66-.21,4-2.94,5-2.23.79-4,3-6.15,3.89a13.25,13.25,0,0,1-5.86.72,6,6,0,0,1-2.61-1.29c-1.09-2.8-1.69-5.25-2.92-7.32a83.07,83.07,0,0,0-7.09-10.22,11.34,11.34,0,0,0-5.11-3.17,30.84,30.84,0,0,0-8-1.47c-5-.24-7-3.38-8.31-8-1-3.42-2-5.87-6-6.2-1-.09-2.37-1.54-2.82-2.66-1.29-3.18-3.65-3.74-6.6-3.41-4.52.52-9,1.13-13.56,1.46-.65,0-1.88-1.12-2-1.88-.8-4.38-3.54-5.47-7.51-5-2.12.26-3.81.11-4.22-2.84-.29-2.12-2.18-2.6-4.47-2.16a13.19,13.19,0,0,1-5.89-.31c-2.64-.75-6.88.45-8.25,3s-2.78,2.07-4,.27a56.75,56.75,0,0,1-4-7.1c-1.72-3.48-3.12-7.12-5-10.54-1.17-2.2-3.31-2.37-5.58-1.61-.93.32-2.11.81-2.91.51-7.84-2.9-14.57-7.65-21.28-12.85,3-3.29,6.59-4.11,10.45-4.18s5.14-1.55,4.64-5.28c-.45-3.33-1.76-6-5.08-7.58a63.21,63.21,0,0,1-6.29-3.79c.06-.4.13-.81.19-1.21,2.47,0,4.95,0,7.42,0,4.47,0,5.53-.75,5.33-5.06-.19-4,1.17-5.18,5.21-5.29,11-.3,22-1.07,33-1.81,7.8-.52,15.57-1.35,23.36-1.91a59.75,59.75,0,0,1,7.8.1c2.28.13,3.63-.77,4.08-3,.21-1.05.44-2.09.6-3.14.67-4.29-.12-5.45-5.48-6.71,4.49-1.26,8-2.26,11.56-3.24s3.81-2,3.17-5.68c-.38-2.21.53-4.65.88-7.19,4.76-1.32,9.17-3.33,11.87-8a5.61,5.61,0,0,1,2.6-1.78c7.82-3.41,15.17-7.65,23.4-10.42,8-2.69,15.29-1.56,23-.85,8,.73,14.47,4.44,21,8.62,2,1.27,5.81.85,8.28-.1,9.5-3.68,18.78-7.89,28.16-11.88,1-.41,2-.65,3.06-1C782.18,352.7,782.33,353.1,782.49,353.49Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-14')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-14')"
        id="prague-14"
        class="cls-14"
        d="M897.7,259.38c-1.1,2-2.29,3.32-2.42,4.71-.22,2.29-.4,5,.59,6.88,1.19,2.27,2.09,3.53-.79,5-3.4,1.72-1.56,4.13-.47,6.33,1.17,2.36,3.67,3.39,5.21,1.66,3.61-4.06,8.51-3.65,13-4.85a30.85,30.85,0,0,1,7.66-1.41c1.57,0,4.28,1,4.54,2,1.92,7.53,3.65,15.13,4.81,22.81.61,4.05-.63,4.55-4.82,4.08-4.82-.54-9.66-1-14.51-1.12-3.77-.11-5.05,1.8-3.5,5.24,1.93,4.3,4.2,8.45,6.46,12.6,1.07,1.95,2.8,2.35,4.88,1.43,4-1.76,8-3.46,12-5.15,5.32,4.61,4.19,13.05,10.6,17-.38,3.51-.18,7.35-1.33,10.73a27.8,27.8,0,0,1-5.76,9.51c-1.13,1.24-4.11,1.18-6.21,1.07-4.92-.24-10-1.92-14.69-1.16-15.29,2.46-23.13,17.07-17.91,31.7a105.74,105.74,0,0,1,3.62,14.35c.67,3.26-.89,4.64-4.37,5.32-7.28,1.43-14.42,3.6-21.61,5.5-1.6.42-3.16,1.07-4.78,1.38-2.26.43-3.83-.29-4.51-2.8-1.13-4.18-2.65-8-7.64-9.31-1-.28-1.94-3-2-4.61-.05-4.1-1.31-5.39-5.33-4.55-5.68,1.17-5.68,1.17-8-4.24-2.66-6.19-4.74-7.14-11-4.64-4.4,1.75-8.72,3.73-13,5.68-2.77,1.25-5.06,1.65-6.88-1.67a4.55,4.55,0,0,0-3.76-1.69c-2.62.34-3-1.09-3.39-3q-1.6-7.26-3.4-14.48c-.58-2.32-1.95-3.4-4.49-2.6a29,29,0,0,1-3.86.58c-6.77,1.15-7.7.45-8.94-7,1.46-.54,3-1.22,4.52-1.64,3.27-.89,4.25-3,3-5.93-2.22-5.18-4.73-10.22-7.07-15.34-1.41-3.1-3.12-6.14-4-9.39-1.74-6.58-.05-12.62,3.95-18.08,3.59-4.89,3.64-8.56.24-13.7-2.22-3.36-3.57-6.76-2-10.9a13.23,13.23,0,0,0,.5-5.27c-.28-5.87-.72-11.73-1-16.9,5.31-.8,10.21-1.7,15.14-2.22s9.91-.39,14.8-1.06a68.19,68.19,0,0,0,11.36-2.85c4.38-1.41,7.44-4.51,9.53-8.58.79-1.52,1.34-4.11,2.42-4.35,2.16-.5,5.07-.44,6.87.68,5.69,3.54,11.58,3.65,17.83,2.56a9.48,9.48,0,0,1,4.84.61c6.73,2.63,13.31,5.66,20.1,8.12,3.6,1.31,7.51,1.77,11.28,2.56C894.92,259.17,896,259.19,897.7,259.38Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-18')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-18')"
        id="prague-18"
        class="cls-15"
        d="M700.64,156.83c1.16-.15,1.84-.29,2.53-.32,9.34-.44,14.53-5.61,15-15,.49-9.6-1.23-14.65-8.26-23.94a35.13,35.13,0,0,0,8.61-16.31c.19-.83,1.13-1.49,1.67-2.26,2.27-3.23,3.44-6.72,2.64-10.72-.91-4.64-1.58-9.34-2.73-13.92a35.1,35.1,0,0,1-.41-11.74c1.55-8.86,2.89-17.76,4.19-26.66.43-2.91,1.17-6.07.47-8.78a22.72,22.72,0,0,0-4.73-8.45c-2.19-2.64-2.32-4.09,1.12-5.21a58.91,58.91,0,0,1,10-2.14c6.42-.9,13-1.22,19.29-2.47,4.53-.88,9.08-2,12.53-6,1.53-1.75,4.66-2.65,7.16-2.86,3.73-.32,7.53.38,11.31.52,6.7.25,9.61,3.74,8.65,10.37-.79,5.39-2,10.79-2,16.19,0,4.77,1.67,9.52,2,14.33a31.36,31.36,0,0,1-1,9.58c-.58,2.42-.63,4.37,1.73,5.4s3.42-.65,4.3-2.54c3-6.52,7.7-7.81,13.3-3.46,2.56,2,4.38,1,6.68-.43a64.41,64.41,0,0,1,10.93-5.67c3.44-1.29,6.51.21,8.69,3.21,3.69,5.1,8.85,8.24,14.42,10.81a17.14,17.14,0,0,0,4,1.35c6,1.13,8.72,5.16,9.62,10.83.54,3.35,1.18,6.68,1.76,10-3.27-1-6.21-2.31-9.28-2.8-6.34-1-11.42,2.55-16.55,5.43-8.16,4.58-16.3,9.21-24.26,14.14a84.64,84.64,0,0,0-12.81,9.5,19.44,19.44,0,0,0-4.73,8.12c-1.17,3.67-1.33,7.65-2.09,11.46a7.29,7.29,0,0,1-1.57,3.33c-3.5,3.85-6.79,7.61-12.06,9.76-6.29,2.57-8.88,9.94-8.09,16.76.67,5.73.88,11.53,1.09,17.31.12,3.28-1.22,5.25-4.94,6-4.11.81-8.64,1.85-11.87,4.28a88,88,0,0,0-14,13.69c-3.89,4.59-4,7.68-3.08,17.29-3.35-1.3-6.5-2.47-9.61-3.76a75.57,75.57,0,0,1-7.7-3.54,6.91,6.91,0,0,1-3-3.05,4.13,4.13,0,0,0-4.74-2.81c-1.64.15-3.28.45-4.91.74-8.76,1.55-13.54-2.27-13.93-11.08-.17-3.78-.48-7.55-.57-11.33a4.17,4.17,0,0,1,.87-2.91c5.36-4.59,5-10.65,4.55-16.75C700.93,159.29,700.79,158.25,700.64,156.83Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-9')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-9')"
        id="prague-9"
        class="cls-16"
        d="M771.38,244.81c-.6,1.62-1.13,3.09-1.68,4.55a39.34,39.34,0,0,1-2.48,6.22c-1.53,2.55-1,4.43,1.4,5.63,3.67,1.86,6,3.92,5.12,8.73-.54,3,.57,6.32.93,9.5.23,2-.25,3.52-2.68,3.65-3.22.18-3.82,2.27-3.48,5a16.78,16.78,0,0,0,.72,4.54c.56,1.26,1.63,2.78,2.82,3.18,6.16,2.12,7.63,6.67,4.12,12.17-6.2,9.7-6.52,19.78-1.16,30,.55,1,1.32,2,1.86,3,1.57,3,.94,4.91-2.19,6.22-9,3.81-18.11,7.6-27.22,11.26a4.81,4.81,0,0,1-3.39-.23c-3.08-1.46-6-3.19-9.06-4.78a12.18,12.18,0,0,0-3.51-1.57c-5.74-.86-11.51-1.51-17.25-2.34-1.1-.17-2.71-.56-3.1-1.34-1.5-3-4.19-3.81-7-4.91-7.33-2.89-9.46-9.42-9.94-16.32-.37-5.38-3-9.41-5.94-13.37a4.87,4.87,0,0,0-4-1.27c-8.24,1.42-16.44,3.1-24.65,4.7-3,.58-6,1.18-9.07,1.8,1.53-3.62,2.8-6.91,4.31-10.07.53-1.11,1.78-1.84,2.48-2.89.89-1.35,1.55-2.84,2.31-4.27-1.53-.53-3-1.1-4.6-1.56a6.35,6.35,0,0,0-1.85.22c-.27-6.37-.93-12.61-.59-18.79.12-2.22,2.16-4.95,4.12-6.35,5.75-4.11,11.7-8,19.18-8.6,2-.15,4.66-1.27,5.47-2.78,1.44-2.66-1.29-4.46-3.1-6.08a45.73,45.73,0,0,0-4.58-3.2c2.52-4.4,1.51-8.32-2.9-10.36-4.72-2.18-9.61-4-14.5-5.84a9,9,0,0,0-3.8,0c-2.82.29-5.62.74-8.44,1a2,2,0,0,1-1.64-.93c-.14-.44.37-1.3.84-1.68.91-.75,2.09-1.16,3-1.92,4.17-3.55,8.52-6.93,12.3-10.86a21.06,21.06,0,0,0,4.69-8.23c.44-1.45-1.18-3.68-2.21-5.35-.47-.75-1.77-1-3.06-1.66,4.55-5.15,8.77-10.22,13.37-14.93,1.14-1.15,3.49-1.26,5.34-1.55,3.15-.5,6.36-.65,9.52-1.14,2.52-.4,3.84.3,4,3a70.28,70.28,0,0,0,.73,7.07c.18,1.27.4,3.46,1,3.61,3.84.95,5.89,5.55,10.38,4.95,2.59-.35,5.17-.7,7.76-.95a5.33,5.33,0,0,1,2.74.21c5.56,2.82,11,5.84,16.58,8.61,2,1,4.29,1.27,6.31,2.18a49.63,49.63,0,0,1,6.14,3.48c3,1.94,5.44,1.16,6.58-2.24a5,5,0,0,1,.79-1.91c2.23-2.27,4.54-4.44,6.62-6.44-1.14,3.83-2.11,7.64,1.78,11.48,1.81,1.79,2.1,5.1,5.39,5.83.27.06.37,1.69.23,2.53-.3,1.87-1,3.68-1.19,5.55-.49,4.08.53,5.35,4.55,6.07C768.27,244.34,770,244.59,771.38,244.81Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-17')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-17')"
        id="prague-17"
        class="cls-17"
        d="M268.5,400a35.83,35.83,0,0,0-4.77.89c-3,1-5.84,2.22-8.77,3.32a14.34,14.34,0,0,1-3,.91c-5.84.81-8.86,4.31-8.36,10.24.24,2.81,1.1,5.56,1.6,8.36a22.06,22.06,0,0,1,.46,4.21c-.08,6.26-.27,6.41-6,8.49a16.38,16.38,0,0,0-5.07,2.52c-7.71,6.59-17.36,8.35-26.67,11a25.87,25.87,0,0,0-6.3,2.28c-4.81,2.9-6.86,7.47-6.41,13,.25,3.07-.72,4.93-3.62,6-2.1.79-4.07,1.94-6.12,2.86a15,15,0,0,0-8.29,9.24,5,5,0,0,1-2.92,2.92q-14,3.27-28.11,6a7.65,7.65,0,0,1-5-.58c-6.94-4.18-13.45-3.4-20,.87-2.53,1.65-5.46,2.67-8,4.32-3,2-5.76,4.28-9.34,7-.93-1.37-2.52-3.06-3.33-5.07-1.16-2.88-2.78-3.76-5.77-3-5.94,1.49-10.32.58-12.69-6.19-.94-2.68-2.89-3.44-5.7-2.59a8.4,8.4,0,0,1-4.47.16C66.24,485.5,59.34,476.59,59,470.81q-.37-5.83-.69-11.68a7.26,7.26,0,0,1,6.79-8c6.13-.64,12.2-1.27,17.7-4.53,3.84-2.29,3.85-3.07,3.16-7.34a106.11,106.11,0,0,1-1.22-17.55c0-3.79,2.69-6.13,6.49-7a252.06,252.06,0,0,1,43.57-6.15,24.19,24.19,0,0,1,3.88.33c3.74.43,7.18.51,10-2.89,2.11-2.54,5.33-2.3,8.28-1.37,4.82,1.52,5.29,1.37,6.28-3.71.86-4.39,3.62-7.16,7.66-7.95a77.71,77.71,0,0,1,15.44-1.43c3.56,0,7.21,2.18,10.66,1.82,11.32-1.21,22.07,1,33,3.46,4.82,1.11,10.12.12,15.2,0,6.15-.12,12.31-.47,18.45-.33,1.76,0,3.49,1.41,5.23,2.18Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-7')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-7')"
        id="prague-7"
        class="cls-18"
        d="M446.17,207.51c4.78,8.17,11.18,14.16,19.91,16.72,5.59,1.64,11.57,2.1,17.41,2.64,2.81.26,4.1.87,4.66,3.92,1.6,8.76,8.6,13.19,17.35,11.47,1.94-.38,3.91-.64,6-1,.44,2.55.68,4.78,1.22,6.93a14.13,14.13,0,0,0,10.64,10.85c5.89,1.57,11.68,4.21,18.06,2.08.57-.19,1.92.7,2.3,1.41,2.53,4.75,6.64,6.95,11.76,7.52,3.88.44,7.77.82,11.67,1,7.38.39,10.16,5.78,12.48,11.5A13.6,13.6,0,0,1,576.23,297a43.37,43.37,0,0,1-5.17,3.75c-6.07,3.81-12.34,7.32-18.24,11.38-5.57,3.85-11.87,4.47-18.22,5.19-9,1-13.35,5-14.49,14.13-.35,2.79-1.67,3.47-4,3.88-7.21,1.25-14.38,2.67-21.57,4-.92.17-2,.49-2.77.14-4.27-2.07-7.45-.08-10.67,2.42a18,18,0,0,1-3.9,1.79c-.55-1.31-1-2.67-1.66-3.93-1.31-2.54-2.85-5-4-7.56-1.9-4.09-3.73-8.22-5.23-12.46-.2-.57,1.53-2.54,2.56-2.71,6-1,9.61-5.25,13.43-9.28A24.42,24.42,0,0,0,485.5,304c.89-1.46,2.34-4,1.82-4.63-1.12-1.3-3.6-2.59-5.06-2.2-5.56,1.51-9.83-2.71-15-2.79-2.3,0-6.18-9.15-5.83-11.84.45-3.5-.19-7.16,2.33-10.3.47-.58-.26-2.88-1.11-3.63-1.87-1.64-1.91-3.4-2-5.67-.05-1.94-1-4.62-2.43-5.66-9.41-6.67-15.49-15.84-20.53-25.9-.53-1.06-.78-2.41-1.59-3.14-3.25-2.92-1.77-5.2.44-7.88C439.83,216.33,442.8,212,446.17,207.51Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-3')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-3')"
        id="prague-3"
        class="cls-19"
        d="M552.35,363.59a47.3,47.3,0,0,1,5-.63c2.41-.09,4-1.12,4-3.54s1.45-3.31,3.43-3.75c5.18-1.14,10.44-2,15.53-3.39,13.21-3.7,26.14-9,39.58-11.06,9.08-1.38,14.22-6.42,20.08-11.78,2.26-2.06,4.28-4,8.46-2.95,3.34.85,7.47-1.33,11.23-2.27,4.48-1.12,9.1-1.94,13.36-3.63s8.22-.82,12,.42c1.36.44,2.23,3.26,2.78,5.16,1,3.49,1.27,7.24,2.51,10.64,1.8,4.94,4.4,9.49,9.86,11.41a3.59,3.59,0,0,1,1.13.83c.14.14.15.42.33,1-1.82.65-3.66,1.36-5.53,2-3,1-6,2.26-9.17,2.77-6.81,1.11-12.15,5.44-17.15,9.23a77.45,77.45,0,0,1-14.17,8.72c-3.19,1.49-3.52,6.4-6.52,8.88-.36.3.7,2.31,1.25,4-2.62.79-5.25,1.75-8,2.37-3.5.8-3.91,3.15-3.77,6.17s.51,5.55,4.27,6.32c-20.73,1.13-41.47,2.22-62.2,3.41-3.24.18-4.8-.48-5.13-4.26-.55-6.29-3.08-12.07-8.12-16.1-2.16-1.73-5.21-2.47-8-3.32a54.26,54.26,0,0,0-7.06-1.15c.84-3,2.13-5.56,2.14-8.14C554.61,368.59,553.22,366.25,552.35,363.59Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-1')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-1')"
        id="prague-1"
        class="cls-20"
        d="M519.39,340.43c.51,7.87,4.12,14.08,3.07,21.45-.75,5.25,2.43,9.86,7.65,12.12,2.62,1.14,2.85,2.44,1.29,4.55-1.89,2.57-4.06,5.05-2.43,8.68a2.38,2.38,0,0,1-.57,1.95c-3.29,3.78-6.2,8.21-12.46,6.67a56.46,56.46,0,0,0-7.67-.88c-1.48-5.76-3.44-7.33-9.11-6.75-1.4.15-2.71,1.48-4,2.34-1.86,1.24-3.55,2.86-5.56,3.74-1.67.73-3.11,0-3.58-2.22-.29-1.44-1.34-2.71-2-4.09a23.38,23.38,0,0,1-2.15-5.05c-1.07-5.51-5.07-8.57-10.7-8-7.49.72-15,1.22-22.47,2.05-2.29.26-4.48,1.35-6.74,2-.95.26-2.13.71-2.92.38-3.84-1.6-7.59-3.44-11.37-5.18a20.66,20.66,0,0,1-8.8-7.37c-.59-.87-2.18-1.06-3.27-1.54,6.6-3.2,6.34-3.53,6.09-10.81-.14-4.11,1.36-8.32,2.47-12.39.23-.85,2-1.65,3.13-1.81,5.67-.82,11.17-2.16,17.16-1.64,4.73.41,9.7-1.76,14.54-2.87,7.11-1.64,9-.4,10.46,6.76a8.81,8.81,0,0,0,5.87,7,7.6,7.6,0,0,0,8.74-2.11c1.78-1.9,3.67-2.35,6.36-1.88,2.3.41,4.85-.38,7.25-.83C504.82,343.32,512,341.88,519.39,340.43Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-2')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-2')"
        id="prague-2"
        class="cls-21"
        d="M568.84,414.16a86,86,0,0,0-10.06,1,8.36,8.36,0,0,0-4.71,3c-.52.72.41,3.23,1.4,4.15,3.69,3.4,7.67,6.49,11.45,9.61a13.86,13.86,0,0,1-17.28-.94c-6.54-6.1-11.46-4.73-15.09,3.56a10,10,0,0,1-7.83,6.39c-6.29,1-13.1,1.28-17.67,7.1-.53.68-2.59.43-3.87.21-2.79-.48-5.5-1.5-8.3-1.74a9.91,9.91,0,0,0-5,1.28c-2.55,1.3-3.78.55-4.23-2.06-1.21-7-2.45-14-3.58-21-.67-4.2-1-8.46-1.76-12.65-.34-2-.11-3,1.93-3.81,1.4-.58,2.34-2.26,3.52-3.41s2.2-2.59,3.6-3.24a73.82,73.82,0,0,1,8.16-2.77c1.62,4.48,5.9,3,9.35,3.45,5,.63,10.15.83,15.23,1.08,2.53.12,4.64-.51,5.31-3.54a6.36,6.36,0,0,1,2.07-2.77c3.55-3.29,5.71-7.16,5.4-12.15a2.93,2.93,0,0,1,.25-1.37c2.46-5.09,4.94-10.16,7.52-15.45,2.82.57,4,1.9,3,5.15-3,10-2.17,11.17,8.09,12.51s16,10.35,13.23,20.43C568.28,408.54,568.84,411.27,568.84,414.16Z"
      />
      <path
        [ngbTooltip]="getTooltipTitle('prague-20')"
        placement="top"
        tooltipClass="tooltip-wraper"
        container="body"
        [style.opacity]="getOpacity('prague-20')"
        id="prague-20"
        class="cls-22"
        d="M1097.29,236.1a3.43,3.43,0,0,1,.08-2.73c1.28-3-.51-3.93-2.9-4.17-9-.93-17.73-5.55-27-1.72a4.57,4.57,0,0,1-2.12,0c-6.54-.6-13.1-1.09-19.62-1.89a5.85,5.85,0,0,1-5.07-7.26c1-4.72-.78-8.51-3.44-12.18-1.6-2.23-3.38-2.37-5.82-1.56-5.84,1.93-11.78,3.58-17.65,5.45-2.78.88-4.93.57-6-2.44-.69-1.85-1.83-2.08-3.65-1.51-6.9,2.17-13.87,4.1-20.75,6.32-2.79.9-5.17,1.3-7.43-1.19-.75-.81-2.25-.94-3.93-1.58-.14,1.82-.17,3.09-.35,4.33-.84,5.72-1.52,11.48-2.65,17.14-.74,3.67-2.79,4.5-6.37,3.29-.89-.3-1.75-.74-2.65-1-4.06-1.24-8.08-2.62-12.2-3.59-2.72-.63-4.39.24-3.43,3.65.7,2.47-.77,3.8-3.19,4-1.17.12-2.37.06-3.55.07-6.91.06-6.64-.81-6.63,6.44,0,1,0,1.9-.06,2.85-.09,2.58-1.4,3.92-4,4l-9.6.12c-4.35.06-8.25,5.42-7.06,9.69s-.77,6.29-5.11,5.46a19.69,19.69,0,0,0-2.28-.14c.24,2.89.45,5.53.69,8.48,1.62-.24,2.89-.38,4.15-.63,4.07-.78,8.11-1.76,12.21-2.36,7.37-1.08,12,3,12.95,10.61a63.63,63.63,0,0,0,2.57,12.32c1.73,5.22,3.18,10.16,1,13.93a5.64,5.64,0,0,1-4.64,2.71c-6.6.35-14.13.92-17.1.6a22.1,22.1,0,0,1,1.31,3.19c.66,3.24,2.43,3.59,5.12,2.24a88.42,88.42,0,0,1,9.87-3.55,4.58,4.58,0,0,1,5.47,2.38l6.08,12.54c5.2-4.83,11.6-5.51,17.91-6.29,3.87-.48,7.88-.05,11.68-.77,8.95-1.68,17.83-3.75,26.71-5.79,3.07-.7,5.82-.6,8.41,1.4,5,3.85,8.85,9.31,15.41,10.95.13,0,.23.21.36.26,2.3.91,4.75,1.47,6.28,3.41,5.77,7.31,11.59,10,18.74,6.94,2.42-1,4.39-.11,5.51,2.38.32.69.75,1.32,1.79,3.14,1.5-2.92,3-4.88,3.52-7.08.87-3.67,1.07-7.49,1.65-11.23,1.28-8.35,1.31-8.35,9.53-6.22,5,1.31,6.15.29,5.56-5-.53-4.83.34-6,5.24-7,5.14-1.1,10.24-2.28,13.25-7.26-4.35-3.44-4.22-3.38-1.72-8.93.88-2,1.63-4.43,1.26-6.44-2.42-13.14,1.92-25.57,3.79-38.24C1097.92,243.06,1099.61,239.68,1097.29,236.1Z"
      />
    </g>
  </g>
</svg>
