:host {
  &,
  svg {
    display: block;
    width: 100%;
    height: 100%;

    path {
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  .administrativedistrict {
    fill: #dadada;
    stroke: 2px solid white;
    stroke-width: 5px;
    stroke: white;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition-duration: 1s;
  }
  .administrativedistrict:hover {
    fill: #aaaaaa;
  }
}
