@import "_colors";

.live-data {
  display: inline;
  position: relative;
  .live-icon {
    border-radius: 50%;
    border: 1px solid $live-data;
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    &:before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background-color: $live-data;
      animation: pulse 2s ease forwards infinite;
    }
  }
  p {
    display: inline-block;
    vertical-align: middle;
    color: $live-data;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding-left: 8px;
  }
  .tooltip {
    opacity: 0;
    display: none;
    background: $live-data;
    font-weight: bold;
    color: $def-white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.4s ease;
    position: absolute;
    left: 0;
    transform: translateX(-10%);
    top: 40px;
    text-align: center;
    min-width: 250px;
    margin-left: 8px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 10%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 20px 20px 20px;
      border-color: transparent transparent $live-data transparent;
    }
  }
  &:hover .tooltip {
    display: block;
    z-index: 2;
    opacity: 1;
  }
}
