<div class="parallax">
  <div class="layer layer-6" parallax [config]="{ speed: -0.1 }"></div>
  <div class="layer layer-5" parallax [config]="{ speed: -0.15 }"></div>
  <div class="layer layer-4" parallax [config]="{ speed: -0.2 }"></div>
  <div class="layer layer-3" parallax [config]="{ speed: -0.35 }"></div>
  <div class="layer layer-2" parallax [config]="{ speed: -0.5 }"></div>
  <div class="layer layer-1" parallax [config]="{ speed: -0.6 }"></div>
</div>
