<div class="wrapper">
  <p *ngIf="data.data.label != null" class="label primary-color">
    {{ data.data.label | localizedText }}
  </p>
  <p *ngIf="value != null" class="value primary-color">
    {{ formatNumber(value) }}
  </p>
  <p *ngIf="data.data.unit != null" class="unit">
    {{ data.data.unit }}
  </p>
</div>
