@import "_colors";

:host {
  display: block;
}

pr-live-data-icon {
  margin-right: 16px;
}

.data {
  font-size: 12px;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
  margin-right: 16px;
  img {
    width: 20px;
  }
  p {
    display: inline-block;
    vertical-align: middle;
    color: $secondary;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding-left: 8px;
  }
}
.share {
  font-size: 12px;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
  span {
    cursor: pointer;
  }
  p {
    display: inline-block;
    vertical-align: middle;
    color: $primary;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding-left: 8px;
  }
  .coppied {
    background: $primary;
    font-weight: bold;
    color: $def-white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.4s ease;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    top: 40px;
    text-align: center;
    min-width: 145px;
    margin-left: 8px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 20px 20px 20px;
      border-color: transparent transparent $primary transparent;
    }
  }
}
.link {
  color: $gray;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.2s ease;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}
.updated {
  color: $gray;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease;
  line-height: 1.5;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
