<div prScrollReveal>
  <p class="updated">
    Aktualizováno: {{ data.updatedAt | date: "d.M. yyyy" }}
    {{ data.updatedAt | date: "HH:mm" }}
    <br>
    Zdroj: {{ data.source }}
  </p>
  <pr-live-data-icon *ngIf="data.isLiveData" [refreshInterval]="data.refreshInterval"></pr-live-data-icon>
  <div class="data">
    <a class="link" target="_blank" [href]="data.sourceUrl">
      <img
        src="assets/images/data.svg"
      />
      <p>data</p>
    </a>
  </div>
  <div class="share">
    <span (click)="copyToClipboard(data.widgetId)">
      <img
        src="assets/images/share.svg"
      />
      <p>sdílet</p>
    </span>
    <span [@fadeInOut] class="coppied" *ngIf="coppied" (click)="coppied = false"
      >Odkaz zkopírován</span
    >
  </div>
</div>
