@import "_colors";

.footer {
  margin-top: 80px;
  background: linear-gradient(360deg, #f0cdef -12.33%, rgba(255, 223, 254, 0.18) 15.94%);
  padding: 60px 0px 50px 0px;
  h4 {
    text-align: center;
    margin-bottom: 64px;
  }
  .copyright {
    position: relative;
    height: 40px;
    margin-top: 64px;
    p {
      position: absolute;
      width: 100%;
      top: 0;
      color: $def-black;
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}
