@import "responsive";

.modal {
  max-width: 928px;
  width: 100%;
  background: $def-white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include layer(modal);
  border-radius: 16px;
  box-shadow: 10px 28px 80px rgba(100, 0, 97, 0.23);
  max-height: 100vh;
  padding: $modal-padding-top-bottom 0;
  overflow: auto;

  @media (max-width: $small-screen) {
    padding: 30px 0;
  }
  @media (max-height: 820px) {
    padding: 30px 0;
  }

  .close {
    width: 18px;
    position: absolute;
    top: 32px;
    right: 32px;
  }

  .modal-inner {
    max-width: 544px;
    width: calc(100% - #{$modal-padding-left-right} * 2);
    padding: 0 $modal-padding-left-right;
    max-height: 100%;
    margin: 0 auto;
  }

  h3 {
    text-align: center;
    font-weight: bold;
  }
  h4 {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    max-width: 544px;
    margin-bottom: 40px;
    margin-top: 30px;
    @media (max-width: $big-screen) {
      font-size: 18px;
    }
  }
  label {
    font-weight: 600;
    font-size: 12px;
    display: block;
  }
  input,
  textarea {
    background: $def-white;
    border: 1px solid rgba(192, 199, 206, 0.7);
    border-radius: 16px;
    display: block;
    width: 100%;
    padding: 14px;
    outline: none;
    resize: none;
    &.ng-invalid.ng-touched {
      border-color: rgba(206, 59, 79, 0.7);
      color: rgb(206, 59, 79);
    }
  }
  textarea {
    height: 168px;
  }
  .error-msg {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(206, 59, 79);
  }
  button {
    width: 100%;
    background: linear-gradient(82.14deg, #c71c48 0%, #dd4068 101.83%);
    box-shadow: 10px 28px 80px rgba(100, 0, 97, 0.23);
    border-radius: 100px;
    margin-top: 32px;
    text-align: center;
    border: none;
    padding: 15px;
    font-weight: bold;
    color: $def-white;
    outline: none;
  }

  button.default {
    background: $def-white;
    color: #dc365e;
  }
}

.modal-background {
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  position: fixed;
  @include layer(modalBackground);
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.15);
}
