@import "_colors";

.chart-legend {
  position: relative !important;
  margin-top: 20px !important;
}

.chart-legend .legend-labels {
  white-space: unset !important;
  background: #f0f1f3 !important;
  border-radius: 16px !important;
  max-height: unset !important;
  padding: 10px !important;
  width: auto !important;
}

.chart-legend .legend-label {
  color: $def-black !important;
  font-weight: bold !important;
  font-size: 12px !important;
  margin: 6px !important;
}

.chart-legend .legend-label-color {
  margin-right: 8px !important;
  border-radius: 4px !important;
  width: 16px !important;
  height: 16px !important;
}

.chart-legend .legend-label-text {
  width: calc(100% - 24px) !important;
}

.chart-legend .legend-title {
  /* position: absolute !important;
  text-transform: uppercase !important;
  font-weight: unset !important;
  top: 7px !important;
  left: 16px !important;
  color: $def-black !important;
  margin-left: 0 !important; */
  display: none !important;
}

.tick text {
  fill: #c0c7ce !important;
}

.ngx-charts .grid-panel.odd rect {
  fill: transparent !important;
}

g.line-chart > g:last-of-type > g:nth-child(n) g.line-series > path {
  stroke-width: 4;
  stroke-linecap: round;
}
.tooltip {
  &.show {
    opacity: 1 !important;
  }
  .tooltip-inner {
    background: $def-white;
    border-radius: 16px;
    font-size: 12px;
    padding: 12px;
    box-shadow: 0px 0px 10px rgba(100, 0, 97, 0.23);
    p,
    b {
      color: #3d4857 !important;
    }
  }
  .arrow {
    z-index: 5;
    &::before {
      border-top-color: $def-white;
    }
  }
}

ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  background-color: white;

  box-shadow: 0px 0px 10px rgba(100, 0, 97, 0.23);
  color: #3d4857 !important;
  border-radius: 16px;
  padding: 16px;
  .tooltip-caret.position-top {
    border-top-color: white;
    box-shadow: none;
  }
  .tooltip-caret.position-left {
    border-left-color: white;
    box-shadow: none;
  }
  .tooltip-caret.position-right {
    border-right-color: white;
    box-shadow: none;
  }
  .tooltip-caret.position-bottom {
    border-bottom-color: white;
    box-shadow: none;
  }
}

.ngx-charts tspan {
  fill: #3d4857;
}

ngx-charts-legend-entry:focus,
.chart-legend .legend-label:focus {
  outline: none;
}

ngx-charts-legend-entry span:focus {
  outline: none;
}

ngx-charts-legend.chart-legend {
  width: 100% !important;

  .legend-labels {
    display: flex;
    flex-wrap: wrap;
  }
}
.chart-title {
  font-weight: bold;
  text-transform: uppercase;
  color: $def-black;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.chart-legend .legend-label-text {
  text-overflow: initial !important;
}

.legend-wrap {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

ngx-charts-legend.start .legend-wrap {
  justify-content: flex-start;
}
ngx-charts-legend.center .legend-wrap {
  justify-content: center;
}
ngx-charts-legend.end .legend-wrap {
  justify-content: flex-end;
}

.y.axis,
.x.axis {
  text {
    fill: $gray;
    font-size: 12px;
  }
}

ngx-charts-gauge g.gauge.chart > text {
  transform: scale(1) !important;
}
ngx-charts-gauge g.gauge.chart > text >  tspan:nth-child(1) {
  font-size: 48px;
  font-weight: bold;
  fill: #616a76;
}

ngx-charts-gauge g.gauge.chart > text > tspan:nth-child(2) {
  font-size: 24px;
  font-weight: normal;
  fill: #616a76;
}