<p *ngIf="settings.chartTitle != null" class="chart-title">
  {{ settings.chartTitle }}
</p>
<div class="table-fix-header" [style.height.px]="settings.chartHeight">
  <table>
    <thead #header>
      <tr>
        <th *ngFor="let header of data?.data?.headers">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data?.data?.table">
        <td *ngFor="let cell of row" [class.active]="cell.highlighted">
          {{ formatValue(cell.value) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
