<p *ngIf="settings.chartTitle != null" class="chart-title">
  {{ settings.chartTitle }}
</p>
<ngx-charts-pie-chart
  *ngIf="data != null"
  [animations]="settings.animations"
  [doughnut]="true"
  [legendPosition]="'below'"
  [view]="view"
  [scheme]="settings.colorScheme || colorScheme"
  [results]="data.data.data"
  [gradient]="settings.gradient"
  [tooltipDisabled]="settings.tooltipDisabled"
  [labels]="settings.showDataLabel"
  [trimLabels]="true"
  [legendPosition]="legendPosition"
  [labels]="settings.showLabels"
  [doughnut]="isDoughnut"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>
  <ng-template #tooltipTemplate let-model="model">
    {{ model.label }}
    <br />
    <b>{{ model.value }} {{ data.data.unit }}</b>
  </ng-template>
</ngx-charts-pie-chart>
<ngx-charts-legend
  [style.display]="settings.showLegend ? 'inline-block' : 'none'"
  #legend
  [height]="50"
  class="chart-legend"
  [class.left]="settings.legendPosition === 'left'"
  [class.center]="settings.legendPosition === 'center'"
  [class.right]="settings.legendPosition === 'right'"
  [data]="legendData"
  [colors]="legendColors"
  (labelActivate)="legendActivate($event)"
  (labelDeactivate)="legendDeactivate($event)"
>
</ngx-charts-legend>
