<p *ngIf="settings.chartTitle != null" class="chart-title">
  {{ settings.chartTitle }}
</p>
<ng-template
  #tooltipTemplate
  let-title="title"
  let-description="description"
  let-color="color"
>
  <b [style.color]="color">{{ title }}</b>
  <p [style.color]="color">{{ description }}</p>
</ng-template>
<div class="map-wrapper" [style.height.px]="settings.chartHeight">
  <img
    #map
    src="/assets/images/praha_empty.svg"
    alt="Map of Prague"
    class="map"
  />
  <img
    *ngFor="let item of coords; let i = index"
    #point
    class="point"
    [class.lg]="settings.mapIconSize === 'lg'"
    [class.md]="settings.mapIconSize === 'md'"
    [class.sm]="settings.mapIconSize === 'sm'"
    src="/assets/images/prague_poi.svg"
    [style.top.px]="item.y"
    [style.left.px]="item.x"
    [ngbTooltip]="tooltipTemplate"
    placement="top"
    triggers="manual"
    #t="ngbTooltip"
    (mouseenter)="
      openTooltip(t, item.title, item.description, item.color);
      showFirstTooltip = false
    "
    (mouseleave)="closeTooltip(t)"
    (touchstart)="openTooltip(t, item.title, item.description, item.color)"
    (touchend)="closeTooltip(t)"
    (click)="closeTooltip(t)"
    tooltipClass="tooltip-wraper"
    [prShowTooltip]="i === 0 && showFirstTooltip && settings.hideTooltips !== true"
    [prShowTooltipTitle]="item.title"
    [prShowTooltipDescription]="item.description"
    [prShowTooltipColor]="item.color"
    [prShowTooltipInstance]="t"
  />
</div>
