@import "_colors";
@import "_variables";

:host {
  position: relative;
  display: block;
  height: 100%;
  text-align: center;
}
.map-wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
  .map {
    width: 100%;
    height: auto;
  }
  .point {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    width: $point-md;
    transform: (translateX(-50%) translateY(-100%));

    &.lg {
      width: $point-lg;
    }
    &.md {
      width: $point-md;
    }
    &.sm {
      width: $point-sm;
    }
  }
}
