:host {
  a.btn {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.5rem 3rem;
    line-height: 2rem;
    background: linear-gradient(89.19deg, #c71c48 0%, #dd4068 101.83%);
  }
  img {
    margin-left: 0.5rem;
    position: relative;
    top: -3px;
  }
}
