@import "_colors";

:host {
  display: block;
  width: 100%;
  height: 100%;
  ngx-charts-bar-vertical-2d {
    display: block;
  }

  ngx-charts-line-chart {
    display: block;
    width: 100%;
    height: 100%;
  }

}

.series-tooltip {
  text-align: left!important;
}
.series-labels {
  text-align: left!important;
}
.chart-detail{
  text-align: right;
}
.chart-detail > a {
  cursor: pointer;
  font-size: 11px;
  color: $secondary;
}
.series-label-color {
  background-color: red;
  display: inline-block;
  line-height: 85%;
  position: relative;
  top: 3px;
  margin-right: 8px !important;
  border-radius: 4px !important;
  width: 16px !important;
  height: 16px !important;
}