<h1 *ngIf="data.type === 'h1'" prScrollReveal [ngClass]="data.alignment" [innerHTML]="data.text | localizedText">
</h1>
<h2 *ngIf="data.type === 'h2'" prScrollReveal [ngClass]="data.alignment" [innerHTML]="data.text | localizedText">
</h2>
<h3 *ngIf="data.type === 'h3'" prScrollReveal [ngClass]="data.alignment" [innerHTML]="data.text | localizedText">
</h3>
<h4 *ngIf="data.type === 'h4'" prScrollReveal [ngClass]="data.alignment" [innerHTML]="data.text | localizedText">
</h4>
<p *ngIf="data.type === 'paragraph'" prScrollReveal [ngClass]="data.alignment" [innerHTML]="data.text | localizedText">
</p>
<!-- TODO: dát tomu href -->
<a *ngIf="data.type === 'link'" prScrollReveal [ngClass]="data.alignment" [innerHTML]="data.text | localizedText">
</a>
