<div
  [class.panel-wrapper]="data.isPanel"
  [class.active-section]="isActiveSection(activeSection$ | async)"
  [attr.id]="data.widgetIds.length > 0 ? data.widgetIds[0] : null"
  class="content-wrapper"
>
  <pr-cms-content
    *ngIf="data?.content != null"
    [data]="data.content"
    [shareInfo]="shareInfo"
  ></pr-cms-content>

  <ng-container *ngIf="data?.rows != null">
    <pr-cms-row
      *ngFor="let row of data.rows"
      class="row"
      [data]="row"
      [shareInfo]="shareInfo"
    ></pr-cms-row>
  </ng-container>
</div>
