@import "responsive";

:host {
  display: block;
  width: 100%;

  pr-menu {
    display: block;
    pr-menu-item {
      margin: 16px;
      width: calc(25% - 16px * 2);

      @media (max-width: $small-screen) {
        margin: 8px;
        width: calc(25% - 8px * 2);
      }

      @media (max-width: $phone) {
        width: calc(33%);
        margin: 14px 0px;
      }
    }
  }
}
