<div *ngFor="let section of data?.sections; let i = index">
  <!-- section -->
  <div class="section" [class.dark]="i % 2 === 1">
    <div #sections [id]="section.sectionUrl" class="page-container">
      <div class="row">
        <div class="col">
          <h3 *ngIf="section.showHeader" prScrollReveal>
            {{ section.sectionName | localizedText }}
          </h3>
        </div>
      </div>

      <pr-cms-row
        *ngFor="let row of section.rows"
        class="row"
        [data]="row"
      ></pr-cms-row>
    </div>
  </div>
</div>
