<ng-container *ngIf="state$ | async as state">
  <pr-loading *ngIf="state.loadingVisible" [@fadeInOutLoading]></pr-loading>
  <div
    class="modal-background"
    *ngIf="state.isContactVisible || state.isMissingSectionVisible"
    [@fadeInOut]
    (click)="closeContact()"
  ></div>

  <div *ngIf="state.isMissingSectionVisible" class="modal" [@fadeInOut]>
    <pr-modal-delete
      (homeClicked)="toHome(); closeMissingSection()"
      (closeClicked)="closeMissingSection()"
    ></pr-modal-delete>
  </div>
  <div *ngIf="state.isContactVisible" class="modal" [@fadeInOut]>
    <img
      src="/assets/images/close.svg"
      class="close"
      (click)="closeContact()"
    />
    <div class="modal-inner">
      <ng-container *ngIf="showSuccessContactMsg">
        <div class="contact-form-img">
          <img src="assets/images/contact-form.svg" />
        </div>
        <h3>Zprávu jsme odeslali!</h3>
        <h4>Odpověď očekávejte na váš uvedený email.</h4>
        <button class="default" (click)="closeContact()">
          Zavřít
        </button>
      </ng-container>
      <ng-container *ngIf="showErrorContactMsg">
        <h3>Zprávu se nepodařilo odeslat</h3>
        <button
          class="default"
          (click)="showErrorContactMsg = false; recaptcha.reset()"
        >
          Zkusit znovu
        </button>
      </ng-container>
      <ng-container *ngIf="!showErrorContactMsg && !showSuccessContactMsg">
        <h3>Napište nám</h3>
        <h4>Máte další tipy na data? Zajímá vás něco konkrétního?</h4>
        <form [formGroup]="contactFormGroup">
          <label for="email">Váš email, kam vám máme poslat odpověď</label>
          <input formControlName="email" type="text" name="email" />
          <div
            *ngIf="
              contactFormGroup.get('email').hasError('email') &&
              contactFormGroup.get('email').touched
            "
            [@fadeInOut]
            class="error-msg"
          >
            Email není ve správném formátu.
          </div>
          <div
            *ngIf="
              contactFormGroup.get('email').hasError('required') &&
              contactFormGroup.get('email').touched
            "
            [@fadeInOut]
            class="error-msg"
          >
            Email je povinný.
          </div>

          <br />
          <label for="message"> Vaše zpráva pro nás</label>
          <textarea formControlName="message" name="message"></textarea>
          <div
            *ngIf="
              contactFormGroup.get('message').hasError('required') &&
              contactFormGroup.get('message').touched
            "
            [@fadeInOut]
            class="error-msg"
          >
            Zpráva je povinná.
          </div>

          <label class="checkbox-container"
            >Zadáním emailu souhlasíte se zpracováním tohoto osobního údaje pro
            účely kontaktování ohledně vaší zprávy.
            <input type="checkbox" formControlName="agreement" />
            <span class="checkmark"></span>
          </label>
          <div
            *ngIf="
              contactFormGroup.get('agreement').hasError('required') &&
              contactFormGroup.get('agreement').touched
            "
            [@fadeInOut]
            class="error-msg"
          >
            Souhlas je povinný.
          </div>
        </form>
        <button (click)="submitContact()">
          {{ contactFormLoading ? "Odesílání..." : "Odeslat" }}
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>

<re-captcha
  #recaptcha
  [style.display]="'none'"
  size="invisible"
  [siteKey]="siteKey"
  (resolved)="$event && recaptchaExecuted($event)"
></re-captcha>

<pr-parallax #parallax></pr-parallax>

<div class="header">
  <div class="page-container top-header-container smaller-container">
    <div class="header-content">
      <div class="left-side">
        <img
          prScrollReveal
          src="assets/images/logo.svg"
          alt="Logo Pragozor"
          (click)="toHome()"
        />
      </div>
      <div class="right-side">
        <p prScrollReveal>
          <a (click)="openContact()">Kontaktujte nás</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="page-container header-container">
    <div
      class="banner-content"
      *ngIf="{
        header: header$ | async,
        activeIndex: 0
      } as context"
    >
      <div class="row">
        <div class="col-md-6">
          <div class="text">
            <h1 prScrollReveal>
              <span class="secondary-color">Praha</span> v číslech
            </h1>
            <h2 prScrollReveal>
              {{ context.header?.subtitle | localizedText }}
            </h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget widget-md" prScrollReveal>
            <pr-carousel [data]="context.header?.sliders"></pr-carousel>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-content">
      <pr-home-menu></pr-home-menu>
    </div>
  </div>

  <router-outlet></router-outlet>

  <pr-home-footer></pr-home-footer>
</div>
