@import "layers";
@import "responsive";
@import "_colors";

:host {
  display: block;
}

pr-home-menu {
  margin-top: 88px;

  @media (max-width: $big-screen) {
    margin: 30px 0;
  }
}

.contact-form-img {
  text-align: center;
  img {
    height: auto;
    width: 70px;
    cursor: unset;
    margin-bottom: 30px;
  }
}

a:hover {
  color: $secondary;
  cursor: pointer;
}

img {
  cursor: pointer;
}

.checkbox-container {
  margin-top: 25px;
}
