@import "_responsive";

@media (min-width: $big-screen) {
  :host {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;

  @media (max-width: $big-screen) {
    margin: 0 auto;
    padding: 24px;
    background: linear-gradient(0deg, #ffffff, #ffffff),
      rgba(252, 252, 252, 0.45);
    box-shadow: 10px 28px 80px rgba(100, 0, 97, 0.23);
    border-radius: 16px;
  }
  @media (max-width: $phone) {
    padding: 0px;
  }
}
