@import "_colors";
:host {
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 40px;
}
h4 {
  font-size: 24px;
  font-weight: normal;
  margin: auto;
}
.bold {
  font-weight: bold;
}

.button-container {
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    padding: 16px 32px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 16px;
    border-radius: 100px;
    box-shadow: 10px 28px 80px rgba(100, 0, 97, 0.23);
    min-width: 256px;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      box-shadow: 10px 28px 80px rgba(100, 0, 97, 0.6);
    }
    &.primary {
      background: linear-gradient(86.28deg, #c71c48 0%, #dd4068 101.83%);
      color: $def-white;
    }
    &.secondary {
      background: $def-white;
      color: $primary;
    }
  }
}
