@import "_colors";

img.logo {
  cursor: pointer;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 544px;
  text-align: center;

  h1 {
    color: $secondary;
    font-size: 128px;
    margin-bottom: 30px;
  }
}

button {
  width: 263px;
  background: linear-gradient(82.14deg, #c71c48 0%, #dd4068 101.83%);
  box-shadow: 10px 28px 80px rgba(100, 0, 97, 0.23);
  border-radius: 100px;
  margin-top: 32px;
  text-align: center;
  border: none;
  padding: 15px;
  font-weight: bold;
  color: $def-white;
}

.background {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -5;
}

img {
  max-width: 300px;
  margin-bottom: 35px;
}
