<div *ngIf="context$ | async as context">
  <pr-loading *ngIf="context.isLoadingVisible" [@fadeInOutLoading]></pr-loading>
  <div class="page-container top-header-container smaller-container">
    <img
      prScrollReveal
      class="logo"
      src="assets/images/logo.svg"
      alt="Logo Pragozor"
      (click)="reloadPage()"
    />
  </div>
  <div class="content">
    <img
      [src]="
        'assets/images/' + (context.errorCode === 404 ? '404' : '500') + '.svg'
      "
    />
    <p>
      {{ context.errorText }}
    </p>
    <button (click)="reloadPage()">Znovu načíst stránku</button>
  </div>
</div>

<img src="/assets/images/404-background.svg" class="background" />
