<div
  prScrollReveal
  [scrollRevealChartHeight]="settings?.chartHeight"
  [isChart]="true"
  #abc="scrollRevealDirective"
  class="scroll-reveal-container"
  [attr.data.widget-id]="data?.metadata.id"
>
  <pr-chart-bar-vertical
    *ngIf="data?.metadata?.type === 'chart-bar-vertical' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-chart-bar-vertical>
  <pr-chart-bar-horizontal
    *ngIf="data?.metadata?.type === 'chart-bar-horizontal' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-chart-bar-horizontal>
  <pr-chart-bar-vertical-stacked
    *ngIf="data?.metadata?.type === 'chart-bar-stack' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-chart-bar-vertical-stacked>
  <pr-chart-line
    *ngIf="data?.metadata?.type === 'chart-line' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-chart-line>
  <pr-chart-pie
    *ngIf="data?.metadata?.type === 'chart-pie' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-chart-pie>
  <pr-chart-pie-advanced
    *ngIf="data?.metadata?.type === 'chart-donut' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-chart-pie-advanced>
  <pr-chart-gauge
    *ngIf="data?.metadata?.type === 'gauge' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-chart-gauge>
  <pr-table
    prScrollReveal
    *ngIf="data?.metadata?.type === 'table' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-table>
  <pr-visual-number
    *ngIf="data?.metadata?.type === 'visual-number' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-visual-number>
  <pr-map-prague-district
    prScrollReveal
    *ngIf="data?.metadata?.type === 'map-prague-districts' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-map-prague-district>
  <pr-map-prague-poi
    prScrollReveal
    *ngIf="data?.metadata?.type === 'map-prague-pois' && abc.chartIsInView"
    [data]="data"
    [settings]="settings"
  ></pr-map-prague-poi>
</div>
